{
  "openapi": "3.0.0",
  "info": {
    "title": "Baqio Public API",
    "version": "1.0",
    "description": "Documentation de l'API Baqio, logiciel de gestion commerciale spécialisée pour les domaines viticoles et les négoces.\n\nL'API est uniquement accessible en HTTPS. Si l'API est appelée en HTTP, elle retournera une erreur de type tls_required.\n\n### Authentification\n\nPour accéder à l'API vous devez disposer de trois informations : \n\n- une clé API\n- un mot de passe\n- une clé secrète\n\nVous pouvez créer ces informations sur Baqio dans Paramètres > Mon compte. Tout en bas dans \"Clés API\".\n\nLorsque vous faites un appel à l'API, vous devez utilisez une authentification basique avec la clé API et le mot de passe.\n\nL'authentification utilisée est type [Basic authentication](https://en.wikipedia.org/wiki/Basic_access_authentication), lors des requêtes HTTP il faut transmettre un Authorization header contenant le mot \"Basic\" suivi par un espace et string encodé en base64 (strict) contenant username:password. Par exemple pour autoriser en tant que demo / p@55w0rd, le client enverrait : \n\n```\nAuthorization: Basic ZGVtbzpwQDU1dzByZA==\n```\n\n### MIME Types\n\nToutes les requêtes et toutes les réponses sont au format JSON et encodées en UTF-8.\n\nUn `Accept` header est nécessaire pour les requêtes. Exemple :\n\n```jsx\n'Content-Type' => 'application/json',\n'Accept' => 'application/json'\n```\n\nDans le cas des requêtes de type POST, il est nécessaire de signer les requêtes et de transmettre la signature dans un header `X-Baqio-Hmac-Sha256`\n\nCette signature est calculée à partir du body envoyé en POST et de la clef secrète : \n```ruby\ndigest = OpenSSL::Digest.new('sha256')\nBase64.encode64(OpenSSL::HMAC.digest(digest, secret, body.to_s)).strip\n```",
    "contact": {
      "name": "Sylvain Gautier",
      "email": "support@baqio.com"
    }
  },
  "servers": [
    {
      "url": "https://app.baqio.com/api/v1",
      "description": "Production"
    },
    {
      "url": "https://demo.baqio.com/api/v1",
      "description": "Démo"
    }
  ],
  "paths": {
    "/customers": {
      "get": {
        "summary": "Liste des clients",
        "tags": [
          "customers"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Customer"
                  }
                },
                "examples": {
                  "example": {
                    "value": [
                      {
                        "id": 124407,
                        "account_id": 520,
                        "name": "Agathe Faure",
                        "email": "agathe.faure@gmail.com",
                        "note": null,
                        "accepts_emailing": true,
                        "created_at": "2020-01-15T16:56:05.592+01:00",
                        "updated_at": "2020-01-15T16:56:05.592+01:00",
                        "sales_agent_id": null,
                        "price_grid_id": 4287,
                        "reference": null,
                        "accepts_mailing": true,
                        "warehouse_id": null,
                        "visibility": "all",
                        "channel": null,
                        "customer_category_id": 5071,
                        "deleted_at": null,
                        "payment_method": null,
                        "payment_period": null,
                        "code": "AGATHE",
                        "vinosoft_id": null,
                        "accounted_at": null,
                        "hid": null,
                        "user_id": null,
                        "automatic_discount_rate": null,
                        "sponsor_id": null,
                        "commission_rate": null,
                        "invoice_preference": null,
                        "block_orders": false,
                        "sticky_note": false,
                        "tag_list": [],
                        "billing_information": {
                          "id": 217809,
                          "billable_id": 124407,
                          "company_name": null,
                          "first_name": "Agathe",
                          "last_name": "Faure",
                          "email": null,
                          "address1": null,
                          "address2": null,
                          "city": "ARGENTEUIL",
                          "zip": "95100",
                          "province": null,
                          "country_code": "FR",
                          "phone": null,
                          "company_number": null,
                          "vat_number": null,
                          "excise_number": null,
                          "created_at": "2020-01-15T16:56:05.689+01:00",
                          "updated_at": "2020-01-15T16:56:05.689+01:00",
                          "billable_type": "Customer",
                          "legal_form": null,
                          "subdivision_code": "95",
                          "title": null,
                          "mobile": null,
                          "undeliverable_address": false,
                          "address3": null,
                          "fax": null,
                          "tax_exempt": false,
                          "website": null
                        },
                        "shipping_information": {
                          "id": 270454,
                          "shippable_id": 124407,
                          "use_billing_address": true,
                          "company_name": null,
                          "first_name": null,
                          "last_name": null,
                          "address1": null,
                          "address2": null,
                          "city": null,
                          "zip": null,
                          "province": null,
                          "country_code": null,
                          "phone": null,
                          "note": null,
                          "delivery_schedules": null,
                          "closing_days": null,
                          "created_at": "2020-01-15T16:56:05.737+01:00",
                          "updated_at": "2020-01-15T16:56:05.737+01:00",
                          "shippable_type": "Customer",
                          "dae_number": null,
                          "title": null,
                          "undeliverable_address": false,
                          "address3": null,
                          "mobile": null,
                          "excise_number": null
                        },
                        "price_grid": {
                          "id": 4287,
                          "account_id": 520,
                          "name": "Particulier",
                          "deleted_at": null,
                          "created_at": "2020-01-15T09:56:12.633+01:00",
                          "updated_at": "2020-01-15T09:56:12.633+01:00",
                          "price_kind": "with_tax",
                          "country_tax_id": 1,
                          "calculation_method": "product_variant",
                          "payment_method": null,
                          "payment_period": null,
                          "displayed": true,
                          "quantities": null,
                          "supplier": false,
                          "default": false
                        },
                        "customer_category": {
                          "id": 5071,
                          "account_id": 520,
                          "name": "Particulier",
                          "price_grid_id": 4287,
                          "individual": true,
                          "deleted_at": null,
                          "created_at": "2020-01-15T09:56:12.885+01:00",
                          "updated_at": "2020-01-15T09:56:12.885+01:00",
                          "payment_method": null,
                          "payment_period": null,
                          "kiosk": false
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "operationId": "get-customers",
        "parameters": [],
        "description": "Récupère la liste des clients d'un compte."
      },
      "parameters": [],
      "post": {
        "summary": "Création d'un client",
        "operationId": "post-customers.json",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Créé un nouveau client. Le champ `reference` doit être unique pour le compte (`account_id`).",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Customer"
              },
              "examples": {
                "example": {
                  "value": {
                    "customer": {
                      "billing_information": {
                        "company_name": "BAQIO",
                        "last_name": "Gautier",
                        "first_name": "Sylvain",
                        "country_code": "FR",
                        "email": "contact@baqio.com"
                      },
                      "reference": "123"
                    }
                  }
                }
              }
            }
          },
          "description": ""
        },
        "tags": [
          "customers"
        ]
      }
    },
    "/customers/{id}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "ID du client"
        }
      ],
      "get": {
        "summary": "Informations sur un client",
        "tags": [
          "customers"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          }
        },
        "operationId": "get-customers-id-.json",
        "description": "Récupère les informations d'un client."
      }
    },
    "/orders": {
      "get": {
        "summary": "Liste des commandes",
        "tags": [
          "orders"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Order"
                  }
                },
                "examples": {
                  "example": {
                    "value": [
                      {
                        "id": 107580,
                        "account_id": 520,
                        "customer_id": 124389,
                        "sales_agent_id": null,
                        "number": 274,
                        "fulfillment_status": "none",
                        "total_price_cents": 45360,
                        "total_price_currency": "EUR",
                        "total_tax_cents": 7560,
                        "total_tax_currency": "EUR",
                        "total_weight": null,
                        "note": "",
                        "cancel_reason": null,
                        "cancelled_at": null,
                        "created_at": "2020-02-11T17:40:52.772+01:00",
                        "updated_at": "2020-02-11T17:44:33.740+01:00",
                        "commission_price_cents": 0,
                        "commission_price_currency": "EUR",
                        "quantity": "36.0",
                        "bottle_quantity": "36.0",
                        "price_grid_id": 4287,
                        "total_order_lines_price_cents": 42000,
                        "total_order_lines_price_currency": "EUR",
                        "total_discounts_cents": 4200,
                        "total_discounts_currency": "EUR",
                        "subtotal_price_cents": 37800,
                        "subtotal_price_currency": "EUR",
                        "date": "2020-02-11",
                        "name": "#1274",
                        "reference": null,
                        "paid_amount_cents": 45360,
                        "paid_amount_currency": "EUR",
                        "state": "invoiced",
                        "warehouse_id": 638,
                        "api_key_id": null,
                        "order_type": "normal",
                        "channel": "backoffice",
                        "hid": null,
                        "excise_duty_state": "pay",
                        "trade_union_reference": null,
                        "customs_document": null,
                        "customs_number": null,
                        "invoice_note": null,
                        "accounting_tax": "fr",
                        "picking_note": null,
                        "register_id": null,
                        "payment_status": "paid",
                        "gross_margin_cents": 25200,
                        "gross_margin_currency": "EUR",
                        "external_id": null,
                        "price_with_tax": true,
                        "manual_fulfillment": false,
                        "primeured": false,
                        "tag_list": [],
                        "outstanding_amount": {
                          "cents": 0,
                          "currency_iso": "EUR"
                        },
                        "customer": {
                          "id": 124389,
                          "account_id": 520,
                          "name": "Lucas Picard",
                          "email": "sylvain@baqio.com",
                          "note": null,
                          "accepts_emailing": true,
                          "created_at": "2020-01-15T16:55:59.697+01:00",
                          "updated_at": "2020-02-11T16:11:46.028+01:00",
                          "sales_agent_id": null,
                          "price_grid_id": 4287,
                          "reference": null,
                          "accepts_mailing": true,
                          "warehouse_id": null,
                          "visibility": "all",
                          "channel": null,
                          "customer_category_id": 5071,
                          "deleted_at": null,
                          "payment_method": null,
                          "payment_period": null,
                          "code": "LUCASP",
                          "vinosoft_id": null,
                          "accounted_at": null,
                          "hid": null,
                          "user_id": null,
                          "automatic_discount_rate": null,
                          "sponsor_id": null,
                          "commission_rate": null,
                          "invoice_preference": null,
                          "block_orders": false,
                          "sticky_note": false,
                          "tag_list": [],
                          "billing_information": {
                            "id": 217791,
                            "billable_id": 124389,
                            "company_name": "",
                            "first_name": "Lucas",
                            "last_name": "Picard",
                            "email": "sylvain@baqio.com",
                            "address1": "",
                            "address2": "",
                            "city": "MONTPELLIER",
                            "zip": "34000",
                            "province": "",
                            "country_code": "FR",
                            "phone": "",
                            "company_number": "",
                            "vat_number": "",
                            "excise_number": "",
                            "created_at": "2020-01-15T16:55:59.816+01:00",
                            "updated_at": "2020-02-11T16:11:45.963+01:00",
                            "billable_type": "Customer",
                            "legal_form": "",
                            "subdivision_code": "34",
                            "title": null,
                            "mobile": "",
                            "undeliverable_address": false,
                            "address3": "",
                            "fax": null,
                            "tax_exempt": false,
                            "website": ""
                          },
                          "shipping_information": {
                            "id": 270436,
                            "shippable_id": 124389,
                            "use_billing_address": true,
                            "company_name": null,
                            "first_name": null,
                            "last_name": null,
                            "address1": null,
                            "address2": null,
                            "city": null,
                            "zip": null,
                            "province": null,
                            "country_code": null,
                            "phone": null,
                            "note": null,
                            "delivery_schedules": null,
                            "closing_days": null,
                            "created_at": "2020-01-15T16:55:59.867+01:00",
                            "updated_at": "2020-01-15T16:55:59.867+01:00",
                            "shippable_type": "Customer",
                            "dae_number": null,
                            "title": null,
                            "undeliverable_address": false,
                            "address3": null,
                            "mobile": null,
                            "excise_number": null
                          }
                        },
                        "order_lines_not_deleted": [
                          {
                            "id": 259104,
                            "order_id": 107580,
                            "product_variant_id": 6182,
                            "name": "Pink 2019",
                            "description": "Bouteille (75 cl) - Carton 6",
                            "quantity": "36.0",
                            "price_cents": 1167,
                            "price_currency": "EUR",
                            "total_price_cents": 42000,
                            "total_price_currency": "EUR",
                            "created_at": "2020-02-11T17:41:17.803+01:00",
                            "updated_at": "2020-02-11T17:41:45.521+01:00",
                            "fulfilled_quantity": "0.0",
                            "pending_fulfilled_quantity": "0.0",
                            "total_discount_cents": 4200,
                            "total_discount_currency": "EUR",
                            "free_shipping": false,
                            "product_price_id": 5074,
                            "deleted_at": null,
                            "product_vintage_id": 4412,
                            "capsule_id": 430,
                            "complement": "AOP Rosé d'Anjou - Rosé",
                            "bottle_quantity": "36.0",
                            "manual_price_cents": null,
                            "manual_price_currency": "EUR",
                            "product_label_id": null,
                            "final_price_cents": 37800,
                            "final_price_currency": "EUR",
                            "note": null,
                            "price_with_tax_cents": 1400,
                            "price_with_tax_currency": "EUR",
                            "total_price_with_tax_cents": 50400,
                            "total_price_with_tax_currency": "EUR",
                            "final_price_with_tax_cents": 45360,
                            "final_price_with_tax_currency": "EUR",
                            "batch_id": null,
                            "gross_margin_cents": 25200,
                            "gross_margin_currency": "EUR",
                            "manual_country_tax_id": null,
                            "vintage_complement": "",
                            "capsule_kind": null,
                            "primeured": false,
                            "manual_tax_exempted": false,
                            "accounting_tax": null,
                            "product_variant": {
                              "id": 6182,
                              "product_size_id": 2,
                              "sku": "",
                              "default_barcode": "",
                              "created_at": "2020-01-15T10:22:16.174+01:00",
                              "updated_at": "2020-01-15T16:55:22.034+01:00",
                              "product_packaging_id": 2340,
                              "deleted_at": null,
                              "product_label_id": null,
                              "product_vintage_id": 4412,
                              "nc8_code": "",
                              "vinosoft_id": null,
                              "net_weight": null,
                              "tare": null,
                              "functional_code": "",
                              "cost_price_cents": 350,
                              "cost_price_currency": "EUR",
                              "marketable": true,
                              "fulfillable": true,
                              "capsule_id": null,
                              "neutral_capsule_id": null
                            },
                            "commission_line": {
                              "id": 225401,
                              "order_line_id": 259104,
                              "calculation_method": "relative",
                              "rate": "0.0",
                              "discount_rate": "0.0",
                              "commission_price_cents": 0,
                              "commission_price_currency": "EUR",
                              "discount_amount_cents": 0,
                              "discount_amount_currency": "EUR",
                              "created_at": "2020-02-11T17:41:18.699+01:00",
                              "updated_at": "2020-02-11T17:41:18.699+01:00",
                              "original_rate": "0.0",
                              "discount_amount_with_tax_cents": 0,
                              "discount_amount_with_tax_currency": "EUR",
                              "unit_deducted_amount_cents": 0,
                              "unit_deducted_amount_currency": "EUR",
                              "total_deducted_amount_cents": 0,
                              "total_deducted_amount_currency": "EUR"
                            }
                          }
                        ],
                        "invoice_debit": {
                          "id": 105844,
                          "order_id": 107580,
                          "number": 260,
                          "name": "FA-1260",
                          "due_date": "2020-03-12",
                          "created_at": "2020-02-11T17:42:55.068+01:00",
                          "updated_at": "2020-02-11T17:44:33.509+01:00",
                          "date": "2020-02-11",
                          "status": "debit",
                          "file": {
                            "url": "https://vinosoft-staging.s3-eu-west-3.amazonaws.com/uploads/invoice/file/105844/1274.pdf?X-Amz-Expires=300&X-Amz-Date=20200217T160824Z&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJQAEM4Z3DPIKNLLQ%2F20200217%2Feu-west-3%2Fs3%2Faws4_request&X-Amz-SignedHeaders=host&X-Amz-Signature=e8cf0faad55bd7d14ca4e4a6ead03b372eb5d594f9dcffe36a0ccf17b11c703c"
                          },
                          "notify_customer": false,
                          "kind": "facture",
                          "payment_duration": 0,
                          "payment_method": null,
                          "payment_period": null,
                          "commission_statement_id": null,
                          "paid_at": "2020-02-11",
                          "accounted_at": null,
                          "file_url": "https://vinosoft-staging.s3-eu-west-3.amazonaws.com/uploads/invoice/file/105844/1274.pdf?X-Amz-Expires=300&X-Amz-Date=20200217T160810Z&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJQAEM4Z3DPIKNLLQ%2F20200217%2Feu-west-3%2Fs3%2Faws4_request&X-Amz-SignedHeaders=host&X-Amz-Signature=4741d7ef88316c8056deb1d6aab2ef283be4393fb3b51a264c28ec60361b3625"
                        },
                        "shipping_line": {
                          "id": 107577,
                          "order_id": 107580,
                          "price_cents": 0,
                          "price_currency": "EUR",
                          "created_at": "2020-02-11T17:40:52.895+01:00",
                          "updated_at": "2020-02-11T17:40:52.895+01:00",
                          "fulfillment_service_id": null,
                          "calculation_method": "auto",
                          "price_with_tax_cents": 0,
                          "price_with_tax_currency": "EUR",
                          "cost_price_cents": 0,
                          "cost_price_currency": "EUR",
                          "gross_margin_cents": 0,
                          "gross_margin_currency": "EUR",
                          "departure_conditions": false,
                          "accounting_tax": null,
                          "name": "Livraison : Enlèvement sur place"
                        },
                        "tax_lines": [
                          {
                            "id": 305879,
                            "taxable_id": 107580,
                            "taxable_type": "Order",
                            "country_tax_id": 1,
                            "name": "TVA France",
                            "tax_percentage": "20.0",
                            "price_cents": 7560,
                            "price_currency": "EUR",
                            "created_at": "2020-02-11T17:41:46.156+01:00",
                            "updated_at": "2020-02-11T17:41:46.156+01:00"
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "operationId": "get-orders",
        "description": "Liste des commandes paginées. Paginées par 50, indiquer le paramètre page pour obtenir les commandes suivantes, exemple : ",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "page"
          }
        ]
      },
      "parameters": [],
      "post": {
        "summary": "Création d'une commande",
        "operationId": "post-orders",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              },
              "examples": {
                "example": {
                  "value": {
                    "customer_id": 124389,
                    "sales_agent_id": null,
                    "note": "",
                    "price_grid_id": 4287,
                    "date": "2020-02-11",
                    "name": "#1274",
                    "reference": null,
                    "warehouse_id": 638,
                    "invoice_note": null,
                    "price_with_tax": true,
                    "tag_list": [],
                    "customer": {
                      "id": 124389,
                      "name": "Lucas Picard",
                      "email": "sylvain@baqio.com",
                      "note": null,
                      "accepts_emailing": true,
                      "sales_agent_id": null,
                      "price_grid_id": 4287,
                      "reference": null,
                      "accepts_mailing": true,
                      "warehouse_id": null,
                      "customer_category_id": 5071,
                      "automatic_discount_rate": null,
                      "commission_rate": null,
                      "tag_list": [],
                      "billing_information": {
                        "company_name": "",
                        "first_name": "Lucas",
                        "last_name": "Picard",
                        "email": "sylvain@baqio.com",
                        "address1": "",
                        "address2": "",
                        "city": "MONTPELLIER",
                        "zip": "34000",
                        "country_code": "FR",
                        "phone": "",
                        "company_number": "",
                        "vat_number": "",
                        "excise_number": "",
                        "legal_form": "",
                        "mobile": "",
                        "address3": "",
                        "fax": null,
                        "tax_exempt": false,
                        "website": ""
                      },
                      "shipping_information": {
                        "use_billing_address": true,
                        "company_name": null,
                        "first_name": null,
                        "last_name": null,
                        "address1": null,
                        "address2": null,
                        "city": null,
                        "zip": null,
                        "country_code": null,
                        "phone": null,
                        "note": null,
                        "delivery_schedules": null,
                        "closing_days": null,
                        "dae_number": null,
                        "address3": null,
                        "mobile": null,
                        "excise_number": null
                      }
                    },
                    "order_lines": [
                      {
                        "product_variant_sku": 6182,
                        "capsule_id": 430,
                        "product_label_id": null,
                        "batch_id": null,
                        "note": null,
                        "quantity": "36.0",
                        "manual_price": 11.67
                      }
                    ],
                    "shipping_line": {
                      "price_cents": 0,
                      "fulfillment_service_id": null,
                      "price_with_tax_cents": 0
                    },
                    "payments": [
                      {
                        "date": "09/06/2020",
                        "payment_source_id": 709,
                        "source_reference": "ST8171",
                        "comment": "paiement stripe",
                        "amount": 100
                      }
                    ]
                  }
                }
              }
            }
          },
          "description": "Plusieurs possibilités sont offertes pour la création d'une commande en API sur Baqio. \n\n### Informations minimales à fournir\n\nNous décrivons ici les informations minimales à fournir pour la création d'une commande. \n\n#### Client\n\nDans le cas d'un client existant, vous pouvez transmettre son id ou sa référence : \n\n```json\n\"customer\": {\n\tid: 123,\n\treference: 'BAQIO'\n}\n```\n\nDans le cas d'un nouveau client, il faudra transmettre au minimum les informations suivantes: \n\n```json\n\"customer\": {\n\t\"billing_information\": {\n\t\t\"company_name\": \"BAQIO\",\n\t\t\"last_name\": \"Gautier\",\n\t\t\"first_name\": \"Sylvain\",\n\t\t\"country_code\": \"FR\"\n\t}\n}\n```\n\nSoit company_name est indiqué et les deux autres champs ne sont pas obligatoires, sinon il faut remplir first_name et last_name.\n\n#### Commande\n\nLes informations facultatives suivantes peuvent être indiquées : \n\n- `date` : Date de la commande\n- `order_type` (normal / samples / primeur) : type de commande (normale, primeur, échantillons)\n- `note` : Note interne sur cette commande\n- `reference` : Référence de la commande, **obligatoire** et unique parmi les commandes\n- `sales_agent_id` : Id du représentant commercial\n- `warehouse_id` : Id de l'entrepôt de départ des produits\n- `register_id`: Id du point de vente\n- `price_grid_id` : Id de la grille tarifaire. Si elle n'est pas renseignée, c'est celle du point de vente si il est renseignée. Sinon c'est celle du client qui s'applique. Si il n'en a pas, c'est celle par défaut définie au niveau du compte.\n\n#### Lignes de commandes\n\nAu niveau des lignes de commande, il faut au minimum fournir un tableau de hash contenant pour chaque ligne : \n\n```json\n\"order_lines\": [\n\t{\n\t\t\"product_variant_sku\": 'RDP',\n\t\t\"quantity\": 12\n\t}\n]\n```\n\nPar défaut, c'est le prix unitaire du produit pour la grille tarifaire qui est appliqué sur une ligne de commande. Si vous souhaitez modifier manuellement le prix unitaire, il faut renseigner le montant unitaire de la ligne. Dans le cas où la grille est définie en HT il s'agit du montant unitaire HT, dans le cas où la grille est définie en TTC, c'est le montant unitaire TTC :\n\n```json\n\"order_lines\": [\n\t{\n\t\t\"product_variant_sku\": 'RDP',\n\t\t\"quantity\": 12,\n\t\t\"manual_price\": 7.5\n\t}\n]\n```\n\nLes informations facultatives suivantes peuvent être renseignée :\n\n- `capsule_id` : Id de la capsule CRD utilisée. Sinon par défaut celle applicable (CRD ou Neutre) définie au niveau du produit qui s'applique\n- `product_label_id` : Id de l'habillage utilisé. Sinon par défaut, c'est celui applicable pour le client ou pour la grille tarifaire qui s'applique.\n- `batch_id` : Id du numéro de lot. Sinon c'est celui par défaut qui s'applique.\n- `note` : Information complémentaire indiquée sur la ligne de commande.\n\n#### Frais de port\n\nIl est possible d'indiquer des frais de port sur la commande.\n\n```json\n\"shipping_line\": {\n   \"fulfillment_service_id\": null,\n\t \"calculation_method\": 'auto',\n\t \"price\": 0,\n   \"price_with_tax\": 0,\n}\n```\n\nVous pouvez spécifier manuellement des frais de port à appliquer à la commande. \n\nDans ce cas le champ `calculation_method` doit prendre la valeur '`manual`'. Vous pouvez alors indiquer le montant HT et TTC des frais de port avec `price` et `price_with_tax`.\n\nIl est également possible d'indiquer un transporteur (`fulfillment_service_id`), si le champ `calculation_method` est vide ou à auto, les frais de transport seront calculés automatiquement en fonction de la grille définie au niveau du transporteur.\n\nDe la même façon, vous pouvez définir manuellement les frais de port quand un transporteur est sélectionné.\n\n#### Règlements\n\nIl est possible d'indiquer un ou plusieurs règlements sur la commande.\n\nDans un premier temps, vous pouvez récupérer la liste des moyens de paiements via le endpoint \"payment_sources\".\n\nVous pouvez ensuite indiquer la liste des règlements : \n\n```json\n\"payments\": [\n    {\n      \"date\": '09/06/2020',\n      \"payment_source_id\": 709,\n      \"source_reference\": 'ST8171',\n      \"comment\": 'paiement stripe',\n      \"amount\": 100.0\n    }\n  ]\n```\n\nLes champs date, payment_source_id et amount sont obligatoires.\n\n### Etats de la commande \n\nSi vous renvoyez une commande avec la même référence mais que vous spécifiez un state différent, celle-ci sera mise à jour. \n\n- Si la commande est à l'état 'pending' et que vous passez le state 'validated', cela validera la commande et réservera le stock.\n- Si la commande est à l'état 'pending' ou 'validated' et que vous passez l'état 'removed', cela annulera la commande.\n- Si la commande est à l'état 'invoiced' et que vous passez l'état 'cancelled', la commande sera annulée et un avoir sera créé."
        },
        "tags": [
          "orders"
        ],
        "description": "Création de commande."
      }
    },
    "/fulfillments.json": {
      "get": {
        "summary": "Liste les expéditions",
        "tags": [
          "Fulfillments"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "operationId": "get-fulfillments",
        "description": "Liste des expéditions."
      },
      "parameters": []
    },
    "/price_grids": {
      "get": {
        "summary": "Liste des grilles tarifaires",
        "tags": [
          "Price Grids"
        ],
        "responses": {
          "200": {
            "description": "Tableau contenant des grilles tarifaires.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PriceGrid"
                  }
                },
                "examples": {}
              }
            }
          }
        },
        "operationId": "get-price_grids",
        "parameters": [],
        "description": "Récupération de la liste des grilles tarifaires du compte."
      }
    },
    "/payment_sources": {
      "get": {
        "summary": "Liste des modes de paiement",
        "tags": [
          "Payment Sources"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PaymentSource"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-payment_sources",
        "description": "Récupère la liste des modes de paiements."
      }
    },
    "/orders/{id}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Informations sur une commande",
        "tags": [
          "orders"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                },
                "examples": {
                  "example-1": {}
                }
              }
            }
          }
        },
        "operationId": "get-orders-id",
        "description": "Récupère les informations sur une commande."
      }
    },
    "/accountings/invoices/{id}": {
      "parameters": [
        {
          "schema": {
            "type": "integer"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "ID de la facture",
          "style": "matrix"
        }
      ],
      "get": {
        "summary": "Récupération d'une facture",
        "tags": [
          "Accountings"
        ],
        "responses": {
          "200": {
            "description": "Facture au format binaire encodé en base 64. "
          }
        },
        "operationId": "get-accountings-invoices-id",
        "description": "Récupère la facture au format PDF.",
        "parameters": []
      }
    },
    "/accountings/entries": {
      "get": {
        "summary": "Récupère les écritures comptables sur une période donnée.",
        "tags": [
          "Accountings"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AccountingEntry"
                  }
                },
                "examples": {
                  "example": {
                    "value": [
                      {
                        "journal": "VEL",
                        "date": "24/12/2019",
                        "reference": "FA-1001",
                        "number": "411GAUTIE",
                        "name": "Facture FA-1001",
                        "customer_name": "Sylvain Gautier",
                        "debit": "452,00",
                        "credit": "0,00",
                        "code": "",
                        "lettering_alpha": "A",
                        "quantity": "36,00",
                        "internal_reference": "89510"
                      },
                      {
                        "journal": "VEL",
                        "date": "24/12/2019",
                        "reference": "FA-1001",
                        "number": "7010060",
                        "name": "Vin",
                        "customer_name": "Sylvain Gautier",
                        "debit": "0,00",
                        "credit": "360,00",
                        "code": "V1",
                        "lettering_alpha": "",
                        "quantity": "36,00",
                        "internal_reference": "89510"
                      },
                      {
                        "journal": "VEL",
                        "date": "24/12/2019",
                        "reference": "FA-1001",
                        "number": "7010080",
                        "name": "Livraison",
                        "customer_name": "Sylvain Gautier",
                        "debit": "0,00",
                        "credit": "16,67",
                        "code": "V1",
                        "lettering_alpha": "",
                        "quantity": "1",
                        "internal_reference": "89510"
                      },
                      {
                        "journal": "VEL",
                        "date": "24/12/2019",
                        "reference": "FA-1001",
                        "number": "4457150",
                        "name": "TVA France (20,00%)",
                        "customer_name": "Sylvain Gautier",
                        "debit": "0,00",
                        "credit": "75,33",
                        "code": "",
                        "lettering_alpha": "",
                        "quantity": "",
                        "internal_reference": "89510"
                      },
                      {
                        "journal": "B01",
                        "date": "24/12/2019",
                        "reference": "40977",
                        "number": "411GAUTIE",
                        "name": "Carte Bancaire : FA-1001",
                        "customer_name": "Sylvain Gautier",
                        "debit": "0,00",
                        "credit": "452,00",
                        "code": "",
                        "lettering_alpha": "A",
                        "quantity": "",
                        "internal_reference": "40977"
                      },
                      {
                        "journal": "B01",
                        "date": "24/12/2019",
                        "reference": "40977",
                        "number": "5111000",
                        "name": "Carte Bancaire : FA-1001",
                        "customer_name": "Sylvain Gautier",
                        "debit": "452,00",
                        "credit": "0,00",
                        "code": "",
                        "lettering_alpha": "",
                        "quantity": "",
                        "internal_reference": "40977"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "operationId": "get-accountings-entries",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "start_date",
            "required": true,
            "description": " date de début de la période récupérée"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "end_date",
            "required": true,
            "description": "date de fin de la période récupérée"
          }
        ],
        "description": "Récupère les écritures comptables sur une période donnée. "
      }
    }
  },
  "components": {
    "schemas": {
      "Customer": {
        "title": "Customer",
        "type": "object",
        "description": "Le modèle Customer stock les informations sur les clients d'un compte Baqio telles que ses données de facturation et livraison.",
        "x-tags": [
          "customers"
        ],
        "x-examples": {
          "example": {
            "id": 124407,
            "account_id": 520,
            "name": "Agathe Faure",
            "email": "agathe.faure@gmail.com",
            "note": null,
            "accepts_emailing": true,
            "created_at": "2020-01-15T16:56:05.592+01:00",
            "updated_at": "2020-01-15T16:56:05.592+01:00",
            "sales_agent_id": null,
            "price_grid_id": 4287,
            "reference": null,
            "accepts_mailing": true,
            "warehouse_id": null,
            "visibility": "all",
            "channel": null,
            "customer_category_id": 5071,
            "deleted_at": null,
            "payment_method": null,
            "payment_period": null,
            "code": "AGATHE",
            "vinosoft_id": null,
            "accounted_at": null,
            "hid": null,
            "user_id": null,
            "automatic_discount_rate": null,
            "sponsor_id": null,
            "commission_rate": null,
            "invoice_preference": null,
            "block_orders": false,
            "sticky_note": false,
            "tag_list": [],
            "billing_information": {
              "id": 217809,
              "billable_id": 124407,
              "company_name": null,
              "first_name": "Agathe",
              "last_name": "Faure",
              "email": null,
              "address1": null,
              "address2": null,
              "city": "ARGENTEUIL",
              "zip": "95100",
              "province": null,
              "country_code": "FR",
              "phone": null,
              "company_number": null,
              "vat_number": null,
              "excise_number": null,
              "created_at": "2020-01-15T16:56:05.689+01:00",
              "updated_at": "2020-01-15T16:56:05.689+01:00",
              "billable_type": "Customer",
              "legal_form": null,
              "subdivision_code": "95",
              "title": null,
              "mobile": null,
              "undeliverable_address": false,
              "address3": null,
              "fax": null,
              "tax_exempt": false,
              "website": null
            },
            "shipping_information": {
              "id": 270454,
              "shippable_id": 124407,
              "use_billing_address": true,
              "company_name": null,
              "first_name": null,
              "last_name": null,
              "address1": null,
              "address2": null,
              "city": null,
              "zip": null,
              "province": null,
              "country_code": null,
              "phone": null,
              "note": null,
              "delivery_schedules": null,
              "closing_days": null,
              "created_at": "2020-01-15T16:56:05.737+01:00",
              "updated_at": "2020-01-15T16:56:05.737+01:00",
              "shippable_type": "Customer",
              "dae_number": null,
              "title": null,
              "undeliverable_address": false,
              "address3": null,
              "mobile": null,
              "excise_number": null
            },
            "price_grid": {
              "id": 4287,
              "account_id": 520,
              "name": "Particulier",
              "deleted_at": null,
              "created_at": "2020-01-15T09:56:12.633+01:00",
              "updated_at": "2020-01-15T09:56:12.633+01:00",
              "price_kind": "with_tax",
              "country_tax_id": 1,
              "calculation_method": "product_variant",
              "payment_method": null,
              "payment_period": null,
              "displayed": true,
              "quantities": null,
              "supplier": false,
              "default": false
            },
            "customer_category": {
              "id": 5071,
              "account_id": 520,
              "name": "Particulier",
              "price_grid_id": 4287,
              "individual": true,
              "deleted_at": null,
              "created_at": "2020-01-15T09:56:12.885+01:00",
              "updated_at": "2020-01-15T09:56:12.885+01:00",
              "payment_method": null,
              "payment_period": null,
              "kiosk": false
            }
          }
        },
        "properties": {
          "id": {
            "type": "integer",
            "example": 12
          },
          "name": {
            "type": "string",
            "description": "Nom du client",
            "example": "Agathe Fauré"
          },
          "price_grid": {
            "$ref": "#/components/schemas/PriceGrid"
          },
          "customer_category": {
            "$ref": "#/components/schemas/CustomerCategory"
          },
          "email": {
            "type": "string",
            "example": "agathe.faure@gmail.com",
            "format": "email"
          },
          "note": {
            "type": "string",
            "description": "Commentaire sur ce client",
            "example": "Rencontré au Salon des Vignerons Indépendant de Paris"
          },
          "accepts_emailing": {
            "type": "boolean",
            "description": "Accepte les newsletters ?",
            "example": "true"
          },
          "reference": {
            "type": "string",
            "description": "Référence unique du client",
            "example": "CL4151414"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "example": "2020-01-15T16:56:05.592+01:00"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "example": "2020-01-15T16:56:05.592+01:00"
          },
          "price_grid_id": {
            "type": "integer",
            "description": "ID de la grille tarifaire"
          },
          "accepts_mailing": {
            "type": "boolean",
            "description": "Accepte les courriers papiers ?"
          },
          "code": {
            "type": "string",
            "description": "Code comptable du client"
          },
          "warehouse_id": {
            "type": "integer",
            "description": "ID de l'entrepôt assigné au client si existant\n"
          },
          "billing_information": {
            "$ref": "#/components/schemas/BillingInformation"
          },
          "shipping_information": {
            "$ref": "#/components/schemas/ShippingInformation"
          }
        },
        "required": [
          "reference"
        ]
      },
      "CustomerCategory": {
        "title": "CustomerCategory",
        "type": "object",
        "description": "Catégorie Client.",
        "x-examples": {
          "example": {
            "id": 5071,
            "account_id": 520,
            "name": "Particulier",
            "price_grid_id": 4287,
            "individual": true,
            "deleted_at": null,
            "created_at": "2020-01-15T09:56:12.885+01:00",
            "updated_at": "2020-01-15T09:56:12.885+01:00",
            "payment_method": null,
            "payment_period": null
          }
        },
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          }
        },
        "x-tags": [
          "Customer Categories"
        ]
      },
      "PriceGrid": {
        "title": "PriceGrid",
        "type": "object",
        "x-examples": {
          "example-1": {
            "id": 4287,
            "name": "Particulier",
            "deleted_at": null,
            "created_at": "2020-01-15T09:56:12.633+01:00",
            "updated_at": "2020-01-15T09:56:12.633+01:00",
            "price_kind": "with_tax",
            "country_tax_id": 1,
            "calculation_method": "product_variant",
            "payment_method": null,
            "payment_period": null,
            "displayed": true,
            "quantities": null,
            "supplier": false,
            "default": false
          }
        },
        "description": "Grilles tarifaires.",
        "x-tags": [
          "Price Grids"
        ],
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string",
            "description": "Particulier"
          },
          "deleted_at": {
            "type": "string",
            "format": "date-time"
          },
          "created_at": {
            "type": "string"
          },
          "updated_at": {
            "type": "string"
          },
          "price_kind": {
            "type": "string",
            "enum": [
              "with_tax",
              "without_tax"
            ],
            "description": "Mode de définition des prix (TTC ou HT)"
          },
          "country_tax_id": {
            "type": "integer",
            "description": "TVA utilisée pour calculer le prix HT dans le cas d'une définition des prix en TTC"
          },
          "calculation_method": {
            "type": "string"
          },
          "payment_method": {
            "type": "string"
          },
          "payment_period": {
            "type": "string"
          },
          "displayed": {
            "type": "string"
          },
          "quantities": {
            "type": "string"
          },
          "supplier": {
            "type": "boolean"
          },
          "default": {
            "type": [
              "string",
              "boolean"
            ]
          }
        }
      },
      "Order": {
        "title": "Order",
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          }
        },
        "x-tags": [
          "orders"
        ],
        "description": "Le modèle Commande contient toutes les informations sur une commande. \n\n**Valeurs possibles** \n\n- state\n    - draft : Brouillon (uniquement pour les commandes réalisées depuis le site e-commerce et non finalisées par le visiteur)\n    - pending : En attente (devis). Il est encore possible de modifier la commande\n    - validated : Validée (pro forma). Il n'est plus possible de la modifier (il faut alors la dévalider) et les produits correspondant sont marqués comme réservés dans le stock.\n    - removed : Annulée. Commande non facturée annulée.\n    - invoiced : Facturée\n    - cancelled : Annulée avec avoir. La commande était facturée et elle a été annulée. Elle a donc à la fois une facture et un avoir du même montant.\n- payment_status\n    - not_paid : Non payé\n    - partial : Règlement partiel\n    - paid : Payé\n    - cancelled : Annulé (commande non facturée annulée donc le paiement n'est plus dû ou commande facturée annulée sans paiement)\n    - to_refund : A rembourser (commande facturée et avec un paiement qu'il convient de rembourser)",
        "x-examples": {
          "example": {
            "id": 107580,
            "account_id": 520,
            "customer_id": 124389,
            "sales_agent_id": null,
            "number": 274,
            "fulfillment_status": "none",
            "total_price_cents": 45360,
            "total_price_currency": "EUR",
            "total_tax_cents": 7560,
            "total_tax_currency": "EUR",
            "total_weight": null,
            "note": "",
            "cancel_reason": null,
            "cancelled_at": null,
            "created_at": "2020-02-11T17:40:52.772+01:00",
            "updated_at": "2020-02-11T17:44:33.740+01:00",
            "commission_price_cents": 0,
            "commission_price_currency": "EUR",
            "quantity": "36.0",
            "bottle_quantity": "36.0",
            "price_grid_id": 4287,
            "total_order_lines_price_cents": 42000,
            "total_order_lines_price_currency": "EUR",
            "total_discounts_cents": 4200,
            "total_discounts_currency": "EUR",
            "subtotal_price_cents": 37800,
            "subtotal_price_currency": "EUR",
            "date": "2020-02-11",
            "name": "#1274",
            "reference": null,
            "paid_amount_cents": 45360,
            "paid_amount_currency": "EUR",
            "state": "invoiced",
            "warehouse_id": 638,
            "api_key_id": null,
            "order_type": "normal",
            "channel": "backoffice",
            "hid": null,
            "excise_duty_state": "pay",
            "trade_union_reference": null,
            "customs_document": null,
            "customs_number": null,
            "invoice_note": null,
            "accounting_tax": "fr",
            "picking_note": null,
            "register_id": null,
            "payment_status": "paid",
            "gross_margin_cents": 25200,
            "gross_margin_currency": "EUR",
            "external_id": null,
            "price_with_tax": true,
            "manual_fulfillment": false,
            "primeured": false,
            "tag_list": [],
            "outstanding_amount": {
              "cents": 0,
              "currency_iso": "EUR"
            },
            "customer": {
              "id": 124389,
              "account_id": 520,
              "name": "Lucas Picard",
              "email": "sylvain@baqio.com",
              "note": null,
              "accepts_emailing": true,
              "created_at": "2020-01-15T16:55:59.697+01:00",
              "updated_at": "2020-02-11T16:11:46.028+01:00",
              "sales_agent_id": null,
              "price_grid_id": 4287,
              "reference": null,
              "accepts_mailing": true,
              "warehouse_id": null,
              "visibility": "all",
              "channel": null,
              "customer_category_id": 5071,
              "deleted_at": null,
              "payment_method": null,
              "payment_period": null,
              "code": "LUCASP",
              "vinosoft_id": null,
              "accounted_at": null,
              "hid": null,
              "user_id": null,
              "automatic_discount_rate": null,
              "sponsor_id": null,
              "commission_rate": null,
              "invoice_preference": null,
              "block_orders": false,
              "sticky_note": false,
              "tag_list": [],
              "billing_information": {
                "id": 217791,
                "billable_id": 124389,
                "company_name": "",
                "first_name": "Lucas",
                "last_name": "Picard",
                "email": "sylvain@baqio.com",
                "address1": "",
                "address2": "",
                "city": "MONTPELLIER",
                "zip": "34000",
                "province": "",
                "country_code": "FR",
                "phone": "",
                "company_number": "",
                "vat_number": "",
                "excise_number": "",
                "created_at": "2020-01-15T16:55:59.816+01:00",
                "updated_at": "2020-02-11T16:11:45.963+01:00",
                "billable_type": "Customer",
                "legal_form": "",
                "subdivision_code": "34",
                "title": null,
                "mobile": "",
                "undeliverable_address": false,
                "address3": "",
                "fax": null,
                "tax_exempt": false,
                "website": ""
              },
              "shipping_information": {
                "id": 270436,
                "shippable_id": 124389,
                "use_billing_address": true,
                "company_name": null,
                "first_name": null,
                "last_name": null,
                "address1": null,
                "address2": null,
                "city": null,
                "zip": null,
                "province": null,
                "country_code": null,
                "phone": null,
                "note": null,
                "delivery_schedules": null,
                "closing_days": null,
                "created_at": "2020-01-15T16:55:59.867+01:00",
                "updated_at": "2020-01-15T16:55:59.867+01:00",
                "shippable_type": "Customer",
                "dae_number": null,
                "title": null,
                "undeliverable_address": false,
                "address3": null,
                "mobile": null,
                "excise_number": null
              }
            },
            "order_lines_not_deleted": [
              {
                "id": 259104,
                "order_id": 107580,
                "product_variant_id": 6182,
                "name": "Pink 2019",
                "description": "Bouteille (75 cl) - Carton 6",
                "quantity": "36.0",
                "price_cents": 1167,
                "price_currency": "EUR",
                "total_price_cents": 42000,
                "total_price_currency": "EUR",
                "created_at": "2020-02-11T17:41:17.803+01:00",
                "updated_at": "2020-02-11T17:41:45.521+01:00",
                "fulfilled_quantity": "0.0",
                "pending_fulfilled_quantity": "0.0",
                "total_discount_cents": 4200,
                "total_discount_currency": "EUR",
                "free_shipping": false,
                "product_price_id": 5074,
                "deleted_at": null,
                "product_vintage_id": 4412,
                "capsule_id": 430,
                "complement": "AOP Rosé d'Anjou - Rosé",
                "bottle_quantity": "36.0",
                "manual_price_cents": null,
                "manual_price_currency": "EUR",
                "product_label_id": null,
                "final_price_cents": 37800,
                "final_price_currency": "EUR",
                "note": null,
                "price_with_tax_cents": 1400,
                "price_with_tax_currency": "EUR",
                "total_price_with_tax_cents": 50400,
                "total_price_with_tax_currency": "EUR",
                "final_price_with_tax_cents": 45360,
                "final_price_with_tax_currency": "EUR",
                "batch_id": null,
                "gross_margin_cents": 25200,
                "gross_margin_currency": "EUR",
                "manual_country_tax_id": null,
                "vintage_complement": "",
                "capsule_kind": null,
                "primeured": false,
                "manual_tax_exempted": false,
                "accounting_tax": null,
                "product_variant": {
                  "id": 6182,
                  "product_size_id": 2,
                  "sku": "",
                  "default_barcode": "",
                  "created_at": "2020-01-15T10:22:16.174+01:00",
                  "updated_at": "2020-01-15T16:55:22.034+01:00",
                  "product_packaging_id": 2340,
                  "deleted_at": null,
                  "product_label_id": null,
                  "product_vintage_id": 4412,
                  "nc8_code": "",
                  "vinosoft_id": null,
                  "net_weight": null,
                  "tare": null,
                  "functional_code": "",
                  "cost_price_cents": 350,
                  "cost_price_currency": "EUR",
                  "marketable": true,
                  "fulfillable": true,
                  "capsule_id": null,
                  "neutral_capsule_id": null
                },
                "commission_line": {
                  "id": 225401,
                  "order_line_id": 259104,
                  "calculation_method": "relative",
                  "rate": "0.0",
                  "discount_rate": "0.0",
                  "commission_price_cents": 0,
                  "commission_price_currency": "EUR",
                  "discount_amount_cents": 0,
                  "discount_amount_currency": "EUR",
                  "created_at": "2020-02-11T17:41:18.699+01:00",
                  "updated_at": "2020-02-11T17:41:18.699+01:00",
                  "original_rate": "0.0",
                  "discount_amount_with_tax_cents": 0,
                  "discount_amount_with_tax_currency": "EUR",
                  "unit_deducted_amount_cents": 0,
                  "unit_deducted_amount_currency": "EUR",
                  "total_deducted_amount_cents": 0,
                  "total_deducted_amount_currency": "EUR"
                }
              }
            ],
            "invoice_debit": {
              "id": 105844,
              "order_id": 107580,
              "number": 260,
              "name": "FA-1260",
              "due_date": "2020-03-12",
              "created_at": "2020-02-11T17:42:55.068+01:00",
              "updated_at": "2020-02-11T17:44:33.509+01:00",
              "date": "2020-02-11",
              "status": "debit",
              "file": {
                "url": "https://vinosoft-staging.s3-eu-west-3.amazonaws.com/uploads/invoice/file/105844/1274.pdf?X-Amz-Expires=300&X-Amz-Date=20200217T160824Z&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJQAEM4Z3DPIKNLLQ%2F20200217%2Feu-west-3%2Fs3%2Faws4_request&X-Amz-SignedHeaders=host&X-Amz-Signature=e8cf0faad55bd7d14ca4e4a6ead03b372eb5d594f9dcffe36a0ccf17b11c703c"
              },
              "notify_customer": false,
              "kind": "facture",
              "payment_duration": 0,
              "payment_method": null,
              "payment_period": null,
              "commission_statement_id": null,
              "paid_at": "2020-02-11",
              "accounted_at": null,
              "file_url": "https://vinosoft-staging.s3-eu-west-3.amazonaws.com/uploads/invoice/file/105844/1274.pdf?X-Amz-Expires=300&X-Amz-Date=20200217T160810Z&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJQAEM4Z3DPIKNLLQ%2F20200217%2Feu-west-3%2Fs3%2Faws4_request&X-Amz-SignedHeaders=host&X-Amz-Signature=4741d7ef88316c8056deb1d6aab2ef283be4393fb3b51a264c28ec60361b3625"
            },
            "shipping_line": {
              "id": 107577,
              "order_id": 107580,
              "price_cents": 0,
              "price_currency": "EUR",
              "created_at": "2020-02-11T17:40:52.895+01:00",
              "updated_at": "2020-02-11T17:40:52.895+01:00",
              "fulfillment_service_id": null,
              "calculation_method": "auto",
              "price_with_tax_cents": 0,
              "price_with_tax_currency": "EUR",
              "cost_price_cents": 0,
              "cost_price_currency": "EUR",
              "gross_margin_cents": 0,
              "gross_margin_currency": "EUR",
              "departure_conditions": false,
              "accounting_tax": null,
              "name": "Livraison : Enlèvement sur place"
            },
            "tax_lines": [
              {
                "id": 305879,
                "taxable_id": 107580,
                "taxable_type": "Order",
                "country_tax_id": 1,
                "name": "TVA France",
                "tax_percentage": "20.0",
                "price_cents": 7560,
                "price_currency": "EUR",
                "created_at": "2020-02-11T17:41:46.156+01:00",
                "updated_at": "2020-02-11T17:41:46.156+01:00"
              }
            ]
          }
        }
      },
      "BillingInformation": {
        "title": "BillingInformation",
        "type": "object",
        "description": "Informations de facturation.",
        "x-examples": {
          "example": {
            "id": 217809,
            "billable_id": 124407,
            "company_name": null,
            "first_name": "Agathe",
            "last_name": "Faure",
            "email": null,
            "address1": null,
            "address2": null,
            "city": "ARGENTEUIL",
            "zip": "95100",
            "province": null,
            "country_code": "FR",
            "phone": null,
            "company_number": null,
            "vat_number": null,
            "excise_number": null,
            "created_at": "2020-01-15T16:56:05.689+01:00",
            "updated_at": "2020-01-15T16:56:05.689+01:00",
            "billable_type": "Customer",
            "legal_form": null,
            "subdivision_code": "95",
            "title": null,
            "mobile": null,
            "undeliverable_address": false,
            "address3": null,
            "fax": null,
            "tax_exempt": false,
            "website": null
          }
        },
        "properties": {
          "id": {
            "type": "integer"
          },
          "company_name": {
            "type": "string",
            "description": "Nom de la société\n"
          },
          "first_name": {
            "type": "string",
            "description": "Prénom\n"
          },
          "last_name": {
            "type": "string",
            "description": "Nom de famille"
          },
          "email": {
            "type": "string"
          },
          "address1": {
            "type": "string"
          },
          "address2": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "province": {
            "type": "string"
          },
          "country_code": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "company_number": {
            "type": "string"
          },
          "vat_number": {
            "type": "string"
          },
          "excise_number": {
            "type": "string",
            "description": "Numéro d'accise"
          },
          "legal_form": {
            "type": "string"
          },
          "mobile": {
            "type": "string",
            "description": "Numéro de téléphone portable"
          },
          "undeliverable_address": {
            "type": "boolean"
          },
          "address3": {
            "type": "string"
          },
          "fax": {
            "type": "string"
          },
          "tax_exempt": {
            "type": "boolean",
            "description": "Exportateur en franchise de TVA"
          },
          "website": {
            "type": "string"
          }
        },
        "x-tags": [
          "Billing Informations"
        ]
      },
      "ShippingInformation": {
        "title": "ShippingInformation",
        "type": "object",
        "description": "Informations de livraison",
        "x-examples": {
          "example": {
            "id": 270454,
            "shippable_id": 124407,
            "use_billing_address": true,
            "company_name": null,
            "first_name": null,
            "last_name": null,
            "address1": null,
            "address2": null,
            "city": null,
            "zip": null,
            "province": null,
            "country_code": null,
            "phone": null,
            "note": null,
            "delivery_schedules": null,
            "closing_days": null,
            "created_at": "2020-01-15T16:56:05.737+01:00",
            "updated_at": "2020-01-15T16:56:05.737+01:00",
            "shippable_type": "Customer",
            "dae_number": null,
            "title": null,
            "undeliverable_address": false,
            "address3": null,
            "mobile": null,
            "excise_number": null
          }
        },
        "properties": {
          "id": {
            "type": "string"
          },
          "use_billing_address": {
            "type": "boolean",
            "description": "Utiliser l'adresse de facturation ? "
          },
          "company_name": {
            "type": "string"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "address1": {
            "type": "string"
          },
          "address2": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "zip": {
            "type": "string"
          },
          "province": {
            "type": "string"
          },
          "country_code": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "note": {
            "type": "string"
          },
          "delivery_schedules": {
            "type": "string",
            "description": "Horaires de livraison"
          },
          "closing_days": {
            "type": "string",
            "description": "Jours de fermeture"
          },
          "undeliverable_address": {
            "type": "boolean"
          },
          "address3": {
            "type": "string"
          },
          "mobile": {
            "type": "string"
          },
          "excise_number": {
            "type": "string"
          }
        },
        "x-tags": [
          "Shipping Informations"
        ]
      },
      "TaxLine": {
        "title": "TaxLine",
        "type": "object",
        "x-tags": [
          "Tax Lines"
        ],
        "description": "Ligne de TVA",
        "x-examples": {
          "example": {
            "id": 305879,
            "taxable_id": 107580,
            "taxable_type": "Order",
            "country_tax_id": 1,
            "name": "TVA France",
            "tax_percentage": "20.0",
            "price_cents": 7560,
            "price_currency": "EUR",
            "created_at": "2020-02-11T17:41:46.156+01:00",
            "updated_at": "2020-02-11T17:41:46.156+01:00"
          }
        },
        "properties": {
          "id": {
            "type": "integer"
          },
          "country_tax_id": {
            "type": "integer"
          },
          "name": {
            "type": "string",
            "example": "TVA France"
          },
          "tax_percentage": {
            "type": "string",
            "example": "\"20.0\""
          },
          "price_cents": {
            "type": "integer",
            "example": 7560
          },
          "price_currency": {
            "type": "string"
          },
          "created_at": {
            "type": "string"
          },
          "updated_at": {
            "type": "string"
          }
        }
      },
      "ShippingLine": {
        "title": "ShippingLine",
        "type": "object",
        "x-tags": [
          "Shipping Lines"
        ],
        "description": "Modèle relatif aux frais de port et transporteur utilisé.",
        "properties": {
          "id": {
            "type": "integer"
          },
          "order_id": {
            "type": "integer"
          },
          "price_cents": {
            "type": "integer"
          },
          "price_currency": {
            "type": "string"
          },
          "created_at": {
            "type": "string"
          },
          "updated_at": {
            "type": "string"
          },
          "fulfillment_service_id": {
            "type": "integer",
            "description": "Transporteur utilisé"
          },
          "calculation_method": {
            "type": "string",
            "enum": [
              "auto",
              "manual"
            ]
          },
          "price_with_tax_cents": {
            "type": "integer"
          },
          "price_with_tax_currency": {
            "type": "string"
          },
          "cost_price_cents": {
            "type": "integer"
          },
          "cost_price_currency": {
            "type": "string"
          },
          "gross_margin_cents": {
            "type": "integer"
          },
          "gross_margin_currency": {
            "type": "string"
          },
          "departure_conditions": {
            "type": "boolean"
          },
          "accounting_tax": {
            "type": "string"
          },
          "name": {
            "type": "string",
            "example": "Livraison : Enlèvement sur place"
          }
        },
        "required": [
          "calculation_method"
        ]
      },
      "PaymentSource": {
        "title": "PaymentSource",
        "type": "object",
        "description": "Mode de paiement.",
        "x-examples": {
          "example": {
            "id": 709,
            "website": false,
            "before_instruction": null,
            "after_instruction": null,
            "name": "Carte Bancaire"
          }
        },
        "properties": {
          "id": {
            "type": "integer"
          },
          "website": {
            "type": "boolean",
            "description": "Proposé sur le site e-commerce Baqio ?"
          },
          "before_instruction": {
            "type": "string"
          },
          "after_instruction": {
            "type": "string"
          },
          "name": {
            "type": "string",
            "example": "Carte Bancaire"
          }
        },
        "x-tags": [
          "Payment Sources"
        ]
      },
      "AccountingEntry": {
        "title": "AccountingEntry",
        "type": "object",
        "x-tags": [
          "Accountings"
        ],
        "description": "Écriture comptable",
        "properties": {
          "journal": {
            "type": "string",
            "description": "Journal"
          },
          "date": {
            "type": "string",
            "description": "Date da pièce comptable"
          },
          "reference": {
            "type": "string",
            "description": "Référence de la pièce"
          },
          "number": {
            "type": "string",
            "description": "Numéro de compte"
          },
          "name": {
            "type": "string",
            "description": "libellé de l'écriture comptable"
          },
          "customer_name": {
            "type": "string",
            "description": "nom du client"
          },
          "debit": {
            "type": "string",
            "description": "débit"
          },
          "credit": {
            "type": "string",
            "description": "crédit"
          },
          "code": {
            "type": "string",
            "description": " code TVA"
          },
          "lettering_alpha": {
            "type": "string",
            "description": "lettrage alphabétique"
          },
          "quantity": {
            "type": "string",
            "description": "quantité"
          },
          "internal_reference": {
            "type": "string",
            "description": "référence interne (utilisé pour récupérer la facture)"
          }
        },
        "x-examples": {
          "compte client": {
            "journal": "VEL",
            "date": "24/12/2019",
            "reference": "FA-1001",
            "number": "411GAUTIE",
            "name": "Facture FA-1001",
            "customer_name": "Sylvain Gautier",
            "debit": "452,00",
            "credit": "0,00",
            "code": "",
            "lettering_alpha": "A",
            "quantity": "36,00",
            "internal_reference": "89510"
          },
          "compte de vente": {
            "journal": "VEL",
            "date": "24/12/2019",
            "reference": "FA-1001",
            "number": "7010060",
            "name": "Vin",
            "customer_name": "Sylvain Gautier",
            "debit": "0,00",
            "credit": "360,00",
            "code": "V1",
            "lettering_alpha": "",
            "quantity": "36,00",
            "internal_reference": "89510"
          },
          "compte tva": {
            "journal": "VEL",
            "date": "24/12/2019",
            "reference": "FA-1001",
            "number": "4457150",
            "name": "TVA France (20,00%)",
            "customer_name": "Sylvain Gautier",
            "debit": "0,00",
            "credit": "75,33",
            "code": "",
            "lettering_alpha": "",
            "quantity": "",
            "internal_reference": "89510"
          },
          "reglement-client": {
            "journal": "B01",
            "date": "24/12/2019",
            "reference": "40977",
            "number": "411GAUTIE",
            "name": "Carte Bancaire : FA-1001",
            "customer_name": "Sylvain Gautier",
            "debit": "0,00",
            "credit": "452,00",
            "code": "",
            "lettering_alpha": "A",
            "quantity": "",
            "internal_reference": "40977"
          },
          "reglement-banque": {
            "journal": "B01",
            "date": "24/12/2019",
            "reference": "40977",
            "number": "5111000",
            "name": "Carte Bancaire : FA-1001",
            "customer_name": "Sylvain Gautier",
            "debit": "452,00",
            "credit": "0,00",
            "code": "",
            "lettering_alpha": "",
            "quantity": "",
            "internal_reference": "40977"
          }
        }
      },
      "ProductSize": {
        "title": "ProductSize",
        "type": "object",
        "x-tags": [
          "Product Sizes"
        ],
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string",
            "example": "Bouteille (75 cl)"
          },
          "position": {
            "type": "integer"
          },
          "created_at": {
            "type": "string"
          },
          "updated_at": {
            "type": "string"
          },
          "short_name": {
            "type": "string",
            "example": "75 cl"
          },
          "kind": {
            "type": "string",
            "enum": [
              "bulk",
              "bottle",
              "bib"
            ]
          }
        },
        "description": "Contenants",
        "x-examples": {
          "example": {
            "id": 2,
            "name": "Bouteille (75 cl)",
            "position": 0,
            "milliliters": 750,
            "created_at": "2015-06-30T14:39:54.153+02:00",
            "updated_at": "2016-06-06T16:08:31.135+02:00",
            "short_name": "75 cl",
            "kind": "bottle"
          }
        }
      }
    },
    "securitySchemes": {
      "Basic": {
        "type": "http",
        "scheme": "basic",
        "description": ""
      }
    }
  },
  "security": [
    {
      "Authentification basique par login et mot de passe.": []
    }
  ],
  "tags": [
    {
      "name": "orders"
    },
    {
      "name": "Payment Sources"
    },
    {
      "name": "Accountings"
    }
  ]
}