{
  "openapi": "3.0.0",
  "info": {
    "title": "Baqio Public API",
    "version": "1.0",
    "description": "Documentation de l'API Baqio, logiciel de gestion commerciale spécialisée pour les domaines viticoles et les négoces.\n\nL'API est uniquement accessible en HTTPS. Si l'API est appelée en HTTP, elle retournera une erreur de type tls_required.\n\n### Authentification\n\nPour accéder à l'API vous disposez de trois informations : \n\n- une clé API\n- un mot de passe\n- une clé secrète\n\nLorsque vous faites un appel à l'API, vous devez utilisez une authentification basique avec la clé API et le mot de passe.\n\n### MIME Types\n\nToutes les requêtes et toutes les réponses sont au format JSON et encodées en UTF-8.\n\nUn `Accept` header est nécessaire pour les requêtes. Exemple :\n\n```jsx\n'Content-Type' => 'application/json',\n'Accept' => 'application/json'\n```\n\nDans le cas des requêtes de type POST, il est nécessaire de signer les requêtes et de transmettre la signature dans un header `X-Baqio-Hmac-Sha256`\n\nCette signature est calculée à partir du body envoyé en POST et de la clef secrète : \n```ruby\ndigest = OpenSSL::Digest.new('sha256')\nBase64.encode64(OpenSSL::HMAC.digest(digest, secret, body.to_s)).strip\n```",
    "contact": {
      "name": "Sylvain Gautier",
      "email": "support@baqio.com"
    }
  },
  "servers": [
    {
      "url": "https://app.baqio.com/api/v1",
      "description": "Production"
    },
    {
      "url": "https://demo.baqio.com/api/v1",
      "description": "Démo"
    }
  ],
  "paths": {
    "/customers": {
      "get": {
        "summary": "Liste des clients",
        "tags": [
          "customers"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Customer"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-customers",
        "parameters": [],
        "description": "Liste des clients"
      },
      "parameters": [],
      "post": {
        "summary": "Création d'un client",
        "operationId": "post-customers.json",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Créé un nouveau client. Le champ `reference` doit être unique pour le compte (`account_id`).",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              },
              "examples": {
                "example": {
                  "value": {
                    "customer": {
                      "billing_information": {
                        "company_name": "BAQIO",
                        "last_name": "Gautier",
                        "first_name": "Sylvain",
                        "country_code": "FR",
                        "email": "contact@baqio.com"
                      },
                      "reference": "123"
                    }
                  }
                }
              }
            }
          },
          "description": ""
        },
        "tags": [
          "customers"
        ]
      }
    },
    "/customers/{id}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "ID du client"
        }
      ],
      "get": {
        "summary": "Informations sur un client",
        "tags": [
          "customers"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          }
        },
        "operationId": "get-customers-id-.json",
        "description": "Récupère les informations d'un client."
      }
    },
    "/orders.json": {
      "get": {
        "summary": "Liste des commandes",
        "tags": [
          "orders"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Order"
                  }
                },
                "examples": {
                  "example": {
                    "value": [
                      {
                        "id": 107580,
                        "account_id": 520,
                        "customer_id": 124389,
                        "sales_agent_id": null,
                        "number": 274,
                        "fulfillment_status": "none",
                        "total_price_cents": 45360,
                        "total_price_currency": "EUR",
                        "total_tax_cents": 7560,
                        "total_tax_currency": "EUR",
                        "total_weight": null,
                        "note": "",
                        "cancel_reason": null,
                        "cancelled_at": null,
                        "created_at": "2020-02-11T17:40:52.772+01:00",
                        "updated_at": "2020-02-11T17:44:33.740+01:00",
                        "commission_price_cents": 0,
                        "commission_price_currency": "EUR",
                        "quantity": "36.0",
                        "bottle_quantity": "36.0",
                        "price_grid_id": 4287,
                        "total_order_lines_price_cents": 42000,
                        "total_order_lines_price_currency": "EUR",
                        "total_discounts_cents": 4200,
                        "total_discounts_currency": "EUR",
                        "subtotal_price_cents": 37800,
                        "subtotal_price_currency": "EUR",
                        "date": "2020-02-11",
                        "name": "#1274",
                        "reference": null,
                        "paid_amount_cents": 45360,
                        "paid_amount_currency": "EUR",
                        "state": "invoiced",
                        "warehouse_id": 638,
                        "api_key_id": null,
                        "order_type": "normal",
                        "channel": "backoffice",
                        "hid": null,
                        "excise_duty_state": "pay",
                        "trade_union_reference": null,
                        "customs_document": null,
                        "customs_number": null,
                        "invoice_note": null,
                        "accounting_tax": "fr",
                        "picking_note": null,
                        "register_id": null,
                        "payment_status": "paid",
                        "gross_margin_cents": 25200,
                        "gross_margin_currency": "EUR",
                        "external_id": null,
                        "price_with_tax": true,
                        "manual_fulfillment": false,
                        "primeured": false,
                        "tag_list": [],
                        "outstanding_amount": {
                          "cents": 0,
                          "currency_iso": "EUR"
                        },
                        "customer": {
                          "id": 124389,
                          "account_id": 520,
                          "name": "Lucas Picard",
                          "email": "sylvain@baqio.com",
                          "note": null,
                          "accepts_emailing": true,
                          "created_at": "2020-01-15T16:55:59.697+01:00",
                          "updated_at": "2020-02-11T16:11:46.028+01:00",
                          "sales_agent_id": null,
                          "price_grid_id": 4287,
                          "reference": null,
                          "accepts_mailing": true,
                          "warehouse_id": null,
                          "visibility": "all",
                          "channel": null,
                          "customer_category_id": 5071,
                          "deleted_at": null,
                          "payment_method": null,
                          "payment_period": null,
                          "code": "LUCASP",
                          "vinosoft_id": null,
                          "accounted_at": null,
                          "hid": null,
                          "user_id": null,
                          "automatic_discount_rate": null,
                          "sponsor_id": null,
                          "commission_rate": null,
                          "invoice_preference": null,
                          "block_orders": false,
                          "sticky_note": false,
                          "tag_list": [],
                          "billing_information": {
                            "id": 217791,
                            "billable_id": 124389,
                            "company_name": "",
                            "first_name": "Lucas",
                            "last_name": "Picard",
                            "email": "sylvain@baqio.com",
                            "address1": "",
                            "address2": "",
                            "city": "MONTPELLIER",
                            "zip": "34000",
                            "province": "",
                            "country_code": "FR",
                            "phone": "",
                            "company_number": "",
                            "vat_number": "",
                            "excise_number": "",
                            "created_at": "2020-01-15T16:55:59.816+01:00",
                            "updated_at": "2020-02-11T16:11:45.963+01:00",
                            "billable_type": "Customer",
                            "legal_form": "",
                            "subdivision_code": "34",
                            "title": null,
                            "mobile": "",
                            "undeliverable_address": false,
                            "address3": "",
                            "fax": null,
                            "tax_exempt": false,
                            "website": ""
                          },
                          "shipping_information": {
                            "id": 270436,
                            "shippable_id": 124389,
                            "use_billing_address": true,
                            "company_name": null,
                            "first_name": null,
                            "last_name": null,
                            "address1": null,
                            "address2": null,
                            "city": null,
                            "zip": null,
                            "province": null,
                            "country_code": null,
                            "phone": null,
                            "note": null,
                            "delivery_schedules": null,
                            "closing_days": null,
                            "created_at": "2020-01-15T16:55:59.867+01:00",
                            "updated_at": "2020-01-15T16:55:59.867+01:00",
                            "shippable_type": "Customer",
                            "dae_number": null,
                            "title": null,
                            "undeliverable_address": false,
                            "address3": null,
                            "mobile": null,
                            "excise_number": null
                          }
                        },
                        "order_lines_not_deleted": [
                          {
                            "id": 259104,
                            "order_id": 107580,
                            "product_variant_id": 6182,
                            "name": "Pink 2019",
                            "description": "Bouteille (75 cl) - Carton 6",
                            "quantity": "36.0",
                            "price_cents": 1167,
                            "price_currency": "EUR",
                            "total_price_cents": 42000,
                            "total_price_currency": "EUR",
                            "created_at": "2020-02-11T17:41:17.803+01:00",
                            "updated_at": "2020-02-11T17:41:45.521+01:00",
                            "fulfilled_quantity": "0.0",
                            "pending_fulfilled_quantity": "0.0",
                            "total_discount_cents": 4200,
                            "total_discount_currency": "EUR",
                            "free_shipping": false,
                            "product_price_id": 5074,
                            "deleted_at": null,
                            "product_vintage_id": 4412,
                            "capsule_id": 430,
                            "complement": "AOP Rosé d'Anjou - Rosé",
                            "bottle_quantity": "36.0",
                            "manual_price_cents": null,
                            "manual_price_currency": "EUR",
                            "product_label_id": null,
                            "final_price_cents": 37800,
                            "final_price_currency": "EUR",
                            "note": null,
                            "price_with_tax_cents": 1400,
                            "price_with_tax_currency": "EUR",
                            "total_price_with_tax_cents": 50400,
                            "total_price_with_tax_currency": "EUR",
                            "final_price_with_tax_cents": 45360,
                            "final_price_with_tax_currency": "EUR",
                            "batch_id": null,
                            "gross_margin_cents": 25200,
                            "gross_margin_currency": "EUR",
                            "manual_country_tax_id": null,
                            "vintage_complement": "",
                            "capsule_kind": null,
                            "primeured": false,
                            "manual_tax_exempted": false,
                            "accounting_tax": null,
                            "product_variant": {
                              "id": 6182,
                              "product_size_id": 2,
                              "sku": "",
                              "default_barcode": "",
                              "created_at": "2020-01-15T10:22:16.174+01:00",
                              "updated_at": "2020-01-15T16:55:22.034+01:00",
                              "product_packaging_id": 2340,
                              "deleted_at": null,
                              "product_label_id": null,
                              "product_vintage_id": 4412,
                              "nc8_code": "",
                              "vinosoft_id": null,
                              "net_weight": null,
                              "tare": null,
                              "functional_code": "",
                              "cost_price_cents": 350,
                              "cost_price_currency": "EUR",
                              "marketable": true,
                              "fulfillable": true,
                              "capsule_id": null,
                              "neutral_capsule_id": null
                            },
                            "commission_line": {
                              "id": 225401,
                              "order_line_id": 259104,
                              "calculation_method": "relative",
                              "rate": "0.0",
                              "discount_rate": "0.0",
                              "commission_price_cents": 0,
                              "commission_price_currency": "EUR",
                              "discount_amount_cents": 0,
                              "discount_amount_currency": "EUR",
                              "created_at": "2020-02-11T17:41:18.699+01:00",
                              "updated_at": "2020-02-11T17:41:18.699+01:00",
                              "original_rate": "0.0",
                              "discount_amount_with_tax_cents": 0,
                              "discount_amount_with_tax_currency": "EUR",
                              "unit_deducted_amount_cents": 0,
                              "unit_deducted_amount_currency": "EUR",
                              "total_deducted_amount_cents": 0,
                              "total_deducted_amount_currency": "EUR"
                            }
                          }
                        ],
                        "invoice_debit": {
                          "id": 105844,
                          "order_id": 107580,
                          "number": 260,
                          "name": "FA-1260",
                          "due_date": "2020-03-12",
                          "created_at": "2020-02-11T17:42:55.068+01:00",
                          "updated_at": "2020-02-11T17:44:33.509+01:00",
                          "date": "2020-02-11",
                          "status": "debit",
                          "file": {
                            "url": "https://vinosoft-staging.s3-eu-west-3.amazonaws.com/uploads/invoice/file/105844/1274.pdf?X-Amz-Expires=300&X-Amz-Date=20200217T160824Z&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJQAEM4Z3DPIKNLLQ%2F20200217%2Feu-west-3%2Fs3%2Faws4_request&X-Amz-SignedHeaders=host&X-Amz-Signature=e8cf0faad55bd7d14ca4e4a6ead03b372eb5d594f9dcffe36a0ccf17b11c703c"
                          },
                          "notify_customer": false,
                          "kind": "facture",
                          "payment_duration": 0,
                          "payment_method": null,
                          "payment_period": null,
                          "commission_statement_id": null,
                          "paid_at": "2020-02-11",
                          "accounted_at": null,
                          "file_url": "https://vinosoft-staging.s3-eu-west-3.amazonaws.com/uploads/invoice/file/105844/1274.pdf?X-Amz-Expires=300&X-Amz-Date=20200217T160810Z&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJQAEM4Z3DPIKNLLQ%2F20200217%2Feu-west-3%2Fs3%2Faws4_request&X-Amz-SignedHeaders=host&X-Amz-Signature=4741d7ef88316c8056deb1d6aab2ef283be4393fb3b51a264c28ec60361b3625"
                        },
                        "shipping_line": {
                          "id": 107577,
                          "order_id": 107580,
                          "price_cents": 0,
                          "price_currency": "EUR",
                          "created_at": "2020-02-11T17:40:52.895+01:00",
                          "updated_at": "2020-02-11T17:40:52.895+01:00",
                          "fulfillment_service_id": null,
                          "calculation_method": "auto",
                          "price_with_tax_cents": 0,
                          "price_with_tax_currency": "EUR",
                          "cost_price_cents": 0,
                          "cost_price_currency": "EUR",
                          "gross_margin_cents": 0,
                          "gross_margin_currency": "EUR",
                          "departure_conditions": false,
                          "accounting_tax": null,
                          "name": "Livraison : Enlèvement sur place"
                        },
                        "tax_lines": [
                          {
                            "id": 305879,
                            "taxable_id": 107580,
                            "taxable_type": "Order",
                            "country_tax_id": 1,
                            "name": "TVA France",
                            "tax_percentage": "20.0",
                            "price_cents": 7560,
                            "price_currency": "EUR",
                            "created_at": "2020-02-11T17:41:46.156+01:00",
                            "updated_at": "2020-02-11T17:41:46.156+01:00"
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "operationId": "get-orders.json",
        "description": "Liste des commandes paginées."
      }
    },
    "/fulfillments.json": {
      "get": {
        "summary": "Liste les expéditions",
        "tags": [
          "Fulfillments"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "operationId": "get-fulfillments",
        "description": "Liste des expéditions."
      },
      "parameters": []
    },
    "/price_grids": {
      "get": {
        "summary": "Liste des grilles tarifaires",
        "tags": [
          "Price Grids"
        ],
        "responses": {
          "200": {
            "description": "Tableau contenant des grilles tarifaires.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PriceGrid"
                  }
                },
                "examples": {}
              }
            }
          }
        },
        "operationId": "get-price_grids",
        "parameters": [],
        "description": "Récupération de la liste des grilles tarifaires du compte."
      }
    }
  },
  "components": {
    "schemas": {
      "Customer": {
        "title": "Customer",
        "type": "object",
        "description": "Le modèle Customer stock les informations sur les clients d'un compte Baqio telles que ses données de facturation et livraison.",
        "x-tags": [
          "customers"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "example": 12
          },
          "name": {
            "type": "string",
            "description": "Nom du client",
            "example": "Agathe Fauré"
          },
          "price_grid": {
            "$ref": "#/components/schemas/PriceGrid"
          },
          "customer_category": {
            "$ref": "#/components/schemas/CustomerCategory"
          },
          "email": {
            "type": "string",
            "example": "agathe.faure@gmail.com",
            "format": "email"
          },
          "note": {
            "type": "string",
            "description": "Commentaire sur ce client",
            "example": "Rencontré au Salon des Vignerons Indépendant de Paris"
          },
          "accepts_emailing": {
            "type": "boolean",
            "description": "Accepte les newsletter ?",
            "example": "true"
          },
          "reference": {
            "type": "string",
            "description": "Référence unique du client",
            "example": "CL4151414"
          }
        },
        "required": [
          "reference"
        ]
      },
      "CustomerCategory": {
        "title": "CustomerCategory",
        "type": "object",
        "description": "Catégorie Client.",
        "x-examples": {
          "example": {
            "id": 5071,
            "account_id": 520,
            "name": "Particulier",
            "price_grid_id": 4287,
            "individual": true,
            "deleted_at": null,
            "created_at": "2020-01-15T09:56:12.885+01:00",
            "updated_at": "2020-01-15T09:56:12.885+01:00",
            "payment_method": null,
            "payment_period": null
          }
        },
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          }
        },
        "x-tags": [
          "Customer Categories"
        ]
      },
      "PriceGrid": {
        "title": "PriceGrid",
        "type": "object",
        "x-examples": {
          "example-1": {
            "id": 4287,
            "name": "Particulier",
            "deleted_at": null,
            "created_at": "2020-01-15T09:56:12.633+01:00",
            "updated_at": "2020-01-15T09:56:12.633+01:00",
            "price_kind": "with_tax",
            "country_tax_id": 1,
            "calculation_method": "product_variant",
            "payment_method": null,
            "payment_period": null,
            "displayed": true,
            "quantities": null,
            "supplier": false,
            "default": false
          }
        },
        "description": "Grilles tarifaires.",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          }
        },
        "x-tags": [
          "Price Grids"
        ]
      },
      "Order": {
        "title": "Order",
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          }
        },
        "x-tags": [
          "orders"
        ]
      }
    },
    "securitySchemes": {
      "Authentification basique par login et mot de passe.": {
        "type": "http",
        "scheme": "basic",
        "description": "Authentification basique"
      }
    }
  },
  "security": [
    {
      "Authentification basique par login et mot de passe.": []
    }
  ]
}