{
  "openapi": "3.0.0",
  "info": {
    "title": "Baqio Public API",
    "version": "1.0",
    "description": "Documentation de l'API Baqio, logiciel de gestion commerciale spécialisée pour les domaines viticoles et les négoces.\n\nL'API est uniquement accessible en HTTPS. Si l'API est appelée en HTTP, elle retournera une erreur de type tls_required.\n\n### Authentification\n\nPour accéder à l'API vous devez disposer de trois informations : \n\n- une clé API (```api_key```)\n- un mot de passe (```password```)\n- une clé secrète (```secret```)\n\nVous pouvez créer ces informations sur Baqio dans Paramètres > Mon compte. Tout en bas dans \"Clés API\".\n\nLorsque vous faites un appel à l'API, vous devez utilisez une authentification basique avec la clé API et le mot de passe.\n\nL'authentification utilisée est type [Basic authentication](https://en.wikipedia.org/wiki/Basic_access_authentication), lors des requêtes HTTP il faut transmettre un Authorization header contenant le mot \"Basic\" suivi par un espace et par un string encodé en base64 (strict) contenant api_key:password. Par exemple pour autoriser en tant que demo / p@55w0rd, le client enverrait : \n\n```\nAuthorization: Basic ZGVtbzpwQDU1dzByZA==\n```\n\nExemple en Ruby : \n\n```ruby\ncode = Base64.strict_encode64(\"#{api_key}:#{password}\")\n```\n\n### MIME Types\n\nToutes les requêtes et toutes les réponses sont au format JSON et encodées en UTF-8.\n\nUn `Accept` header est nécessaire pour les requêtes. Exemple :\n\n```jsx\n'Content-Type' => 'application/json',\n'Accept' => 'application/json'\n```\n\nDans le cas des requêtes de type POST, il est nécessaire de signer les requêtes et de transmettre la signature dans un header `X-Baqio-Hmac-Sha256`\n\nCette signature est calculée à partir du body envoyé en POST et de la clef secrète : \n```ruby\nbody = {\n  \"customer\": {\n    \"billing_information\": {\n      \"company_name\": \"BAQIO\",\n      \"last_name\": \"GAUTIER\",\n      \"first_name\": \"Sylvain\",\n      \"country_code\": \"FR\",\n      \"email\": \"sylvain@baqio.com\"\n    },\n    \"reference\": \"123\"\n  }\n}.to_json\ndigest = OpenSSL::Digest.new('sha256')\nBase64.encode64(OpenSSL::HMAC.digest(digest, secret, body.to_s)).strip\n```",
    "contact": {
      "name": "Sylvain Gautier",
      "email": "support@baqio.com"
    }
  },
  "servers": [
    {
      "url": "https://app.baqio.com/api/v1",
      "description": "Production"
    },
    {
      "url": "https://demo.baqio.com/api/v1",
      "description": "Démo"
    }
  ],
  "paths": {
    "/customers": {
      "get": {
        "summary": "Liste des clients",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Customer"
                  }
                },
                "examples": {
                  "example": {
                    "value": [
                      {
                        "id": 124407,
                        "account_id": 520,
                        "name": "Agathe Faure",
                        "email": "agathe.faure@gmail.com",
                        "note": null,
                        "accepts_emailing": true,
                        "created_at": "2020-01-15T16:56:05.592+01:00",
                        "updated_at": "2020-01-15T16:56:05.592+01:00",
                        "sales_agent_id": null,
                        "price_grid_id": 4287,
                        "reference": null,
                        "accepts_mailing": true,
                        "warehouse_id": null,
                        "visibility": "all",
                        "channel": null,
                        "customer_category_id": 5071,
                        "deleted_at": null,
                        "payment_method": null,
                        "payment_period": null,
                        "code": "AGATHE",
                        "vinosoft_id": null,
                        "accounted_at": null,
                        "hid": null,
                        "user_id": null,
                        "automatic_discount_rate": null,
                        "sponsor_id": null,
                        "commission_rate": null,
                        "invoice_preference": null,
                        "block_orders": false,
                        "sticky_note": false,
                        "tag_list": [],
                        "billing_information": {
                          "id": 217809,
                          "billable_id": 124407,
                          "company_name": null,
                          "first_name": "Agathe",
                          "last_name": "Faure",
                          "email": null,
                          "address1": null,
                          "address2": null,
                          "city": "ARGENTEUIL",
                          "zip": "95100",
                          "province": null,
                          "country_code": "FR",
                          "phone": null,
                          "company_number": null,
                          "vat_number": null,
                          "excise_number": null,
                          "created_at": "2020-01-15T16:56:05.689+01:00",
                          "updated_at": "2020-01-15T16:56:05.689+01:00",
                          "billable_type": "Customer",
                          "legal_form": null,
                          "subdivision_code": "95",
                          "title": null,
                          "mobile": null,
                          "undeliverable_address": false,
                          "address3": null,
                          "fax": null,
                          "tax_exempt": false,
                          "website": null
                        },
                        "shipping_information": {
                          "id": 270454,
                          "shippable_id": 124407,
                          "use_billing_address": true,
                          "company_name": null,
                          "first_name": null,
                          "last_name": null,
                          "address1": null,
                          "address2": null,
                          "city": null,
                          "zip": null,
                          "province": null,
                          "country_code": null,
                          "phone": null,
                          "note": null,
                          "delivery_schedules": null,
                          "closing_days": null,
                          "created_at": "2020-01-15T16:56:05.737+01:00",
                          "updated_at": "2020-01-15T16:56:05.737+01:00",
                          "shippable_type": "Customer",
                          "dae_number": null,
                          "title": null,
                          "undeliverable_address": false,
                          "address3": null,
                          "mobile": null,
                          "excise_number": null
                        },
                        "price_grid": {
                          "id": 4287,
                          "account_id": 520,
                          "name": "Particulier",
                          "deleted_at": null,
                          "created_at": "2020-01-15T09:56:12.633+01:00",
                          "updated_at": "2020-01-15T09:56:12.633+01:00",
                          "price_kind": "with_tax",
                          "country_tax_id": 1,
                          "calculation_method": "product_variant",
                          "payment_method": null,
                          "payment_period": null,
                          "displayed": true,
                          "quantities": null,
                          "supplier": false,
                          "default": false
                        },
                        "customer_category": {
                          "id": 5071,
                          "account_id": 520,
                          "name": "Particulier",
                          "price_grid_id": 4287,
                          "individual": true,
                          "deleted_at": null,
                          "created_at": "2020-01-15T09:56:12.885+01:00",
                          "updated_at": "2020-01-15T09:56:12.885+01:00",
                          "payment_method": null,
                          "payment_period": null,
                          "kiosk": false
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "operationId": "get-customers",
        "parameters": [],
        "description": "Récupère la liste des clients d'un compte.",
        "tags": [
          "Clients"
        ]
      },
      "parameters": [],
      "post": {
        "summary": "Création d'un client",
        "operationId": "post-customers.json",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Créé un nouveau client. Le champ `reference` doit être unique pour le compte (`account_id`).",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Customer"
              },
              "examples": {
                "example": {
                  "value": {
                    "customer": {
                      "billing_information": {
                        "company_name": "BAQIO",
                        "last_name": "Gautier",
                        "first_name": "Sylvain",
                        "country_code": "FR",
                        "email": "contact@baqio.com"
                      },
                      "reference": "123"
                    }
                  }
                }
              }
            }
          },
          "description": ""
        },
        "tags": [
          "Clients"
        ]
      }
    },
    "/customers/{id}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "id",
          "in": "path",
          "required": true,
          "description": "ID du client"
        }
      ],
      "get": {
        "summary": "Informations sur un client",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                }
              }
            }
          }
        },
        "operationId": "get-customers-id-.json",
        "description": "Récupère les informations d'un client.",
        "tags": [
          "Clients"
        ]
      }
    },
    "/orders": {
      "get": {
        "summary": "Liste des commandes",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Order"
                  }
                },
                "examples": {
                  "example": {
                    "value": [
                      {
                        "id": 107580,
                        "account_id": 520,
                        "customer_id": 124389,
                        "sales_agent_id": null,
                        "number": 274,
                        "fulfillment_status": "none",
                        "total_price_cents": 45360,
                        "total_price_currency": "EUR",
                        "total_tax_cents": 7560,
                        "total_tax_currency": "EUR",
                        "total_weight": null,
                        "note": "",
                        "cancel_reason": null,
                        "cancelled_at": null,
                        "created_at": "2020-02-11T17:40:52.772+01:00",
                        "updated_at": "2020-02-11T17:44:33.740+01:00",
                        "commission_price_cents": 0,
                        "commission_price_currency": "EUR",
                        "quantity": "36.0",
                        "bottle_quantity": "36.0",
                        "price_grid_id": 4287,
                        "total_order_lines_price_cents": 42000,
                        "total_order_lines_price_currency": "EUR",
                        "total_discounts_cents": 4200,
                        "total_discounts_currency": "EUR",
                        "subtotal_price_cents": 37800,
                        "subtotal_price_currency": "EUR",
                        "date": "2020-02-11",
                        "name": "#1274",
                        "reference": null,
                        "paid_amount_cents": 45360,
                        "paid_amount_currency": "EUR",
                        "state": "invoiced",
                        "warehouse_id": 638,
                        "api_key_id": null,
                        "order_type": "normal",
                        "channel": "backoffice",
                        "hid": null,
                        "excise_duty_state": "pay",
                        "trade_union_reference": null,
                        "customs_document": null,
                        "customs_number": null,
                        "invoice_note": null,
                        "accounting_tax": "fr",
                        "picking_note": null,
                        "register_id": null,
                        "payment_status": "paid",
                        "gross_margin_cents": 25200,
                        "gross_margin_currency": "EUR",
                        "external_id": null,
                        "price_with_tax": true,
                        "manual_fulfillment": false,
                        "primeured": false,
                        "tag_list": [],
                        "outstanding_amount": {
                          "cents": 0,
                          "currency_iso": "EUR"
                        },
                        "customer": {
                          "id": 124389,
                          "account_id": 520,
                          "name": "Lucas Picard",
                          "email": "sylvain@baqio.com",
                          "note": null,
                          "accepts_emailing": true,
                          "created_at": "2020-01-15T16:55:59.697+01:00",
                          "updated_at": "2020-02-11T16:11:46.028+01:00",
                          "sales_agent_id": null,
                          "price_grid_id": 4287,
                          "reference": null,
                          "accepts_mailing": true,
                          "warehouse_id": null,
                          "visibility": "all",
                          "channel": null,
                          "customer_category_id": 5071,
                          "deleted_at": null,
                          "payment_method": null,
                          "payment_period": null,
                          "code": "LUCASP",
                          "vinosoft_id": null,
                          "accounted_at": null,
                          "hid": null,
                          "user_id": null,
                          "automatic_discount_rate": null,
                          "sponsor_id": null,
                          "commission_rate": null,
                          "invoice_preference": null,
                          "block_orders": false,
                          "sticky_note": false,
                          "tag_list": [],
                          "billing_information": {
                            "id": 217791,
                            "billable_id": 124389,
                            "company_name": "",
                            "first_name": "Lucas",
                            "last_name": "Picard",
                            "email": "sylvain@baqio.com",
                            "address1": "",
                            "address2": "",
                            "city": "MONTPELLIER",
                            "zip": "34000",
                            "province": "",
                            "country_code": "FR",
                            "phone": "",
                            "company_number": "",
                            "vat_number": "",
                            "excise_number": "",
                            "created_at": "2020-01-15T16:55:59.816+01:00",
                            "updated_at": "2020-02-11T16:11:45.963+01:00",
                            "billable_type": "Customer",
                            "legal_form": "",
                            "subdivision_code": "34",
                            "title": null,
                            "mobile": "",
                            "undeliverable_address": false,
                            "address3": "",
                            "fax": null,
                            "tax_exempt": false,
                            "website": ""
                          },
                          "shipping_information": {
                            "id": 270436,
                            "shippable_id": 124389,
                            "use_billing_address": true,
                            "company_name": null,
                            "first_name": null,
                            "last_name": null,
                            "address1": null,
                            "address2": null,
                            "city": null,
                            "zip": null,
                            "province": null,
                            "country_code": null,
                            "phone": null,
                            "note": null,
                            "delivery_schedules": null,
                            "closing_days": null,
                            "created_at": "2020-01-15T16:55:59.867+01:00",
                            "updated_at": "2020-01-15T16:55:59.867+01:00",
                            "shippable_type": "Customer",
                            "dae_number": null,
                            "title": null,
                            "undeliverable_address": false,
                            "address3": null,
                            "mobile": null,
                            "excise_number": null
                          }
                        },
                        "order_lines_not_deleted": [
                          {
                            "id": 259104,
                            "order_id": 107580,
                            "product_variant_id": 6182,
                            "name": "Pink 2019",
                            "description": "Bouteille (75 cl) - Carton 6",
                            "quantity": "36.0",
                            "price_cents": 1167,
                            "price_currency": "EUR",
                            "total_price_cents": 42000,
                            "total_price_currency": "EUR",
                            "created_at": "2020-02-11T17:41:17.803+01:00",
                            "updated_at": "2020-02-11T17:41:45.521+01:00",
                            "fulfilled_quantity": "0.0",
                            "pending_fulfilled_quantity": "0.0",
                            "total_discount_cents": 4200,
                            "total_discount_currency": "EUR",
                            "free_shipping": false,
                            "product_price_id": 5074,
                            "deleted_at": null,
                            "product_vintage_id": 4412,
                            "capsule_id": 430,
                            "complement": "AOP Rosé d'Anjou - Rosé",
                            "bottle_quantity": "36.0",
                            "manual_price_cents": null,
                            "manual_price_currency": "EUR",
                            "product_label_id": null,
                            "final_price_cents": 37800,
                            "final_price_currency": "EUR",
                            "note": null,
                            "price_with_tax_cents": 1400,
                            "price_with_tax_currency": "EUR",
                            "total_price_with_tax_cents": 50400,
                            "total_price_with_tax_currency": "EUR",
                            "final_price_with_tax_cents": 45360,
                            "final_price_with_tax_currency": "EUR",
                            "batch_id": null,
                            "gross_margin_cents": 25200,
                            "gross_margin_currency": "EUR",
                            "manual_country_tax_id": null,
                            "vintage_complement": "",
                            "capsule_kind": null,
                            "primeured": false,
                            "manual_tax_exempted": false,
                            "accounting_tax": null,
                            "product_variant": {
                              "id": 6182,
                              "product_size_id": 2,
                              "sku": "",
                              "default_barcode": "",
                              "created_at": "2020-01-15T10:22:16.174+01:00",
                              "updated_at": "2020-01-15T16:55:22.034+01:00",
                              "product_packaging_id": 2340,
                              "deleted_at": null,
                              "product_label_id": null,
                              "product_vintage_id": 4412,
                              "nc8_code": "",
                              "vinosoft_id": null,
                              "net_weight": null,
                              "tare": null,
                              "functional_code": "",
                              "cost_price_cents": 350,
                              "cost_price_currency": "EUR",
                              "marketable": true,
                              "fulfillable": true,
                              "capsule_id": null,
                              "neutral_capsule_id": null
                            },
                            "commission_line": {
                              "id": 225401,
                              "order_line_id": 259104,
                              "calculation_method": "relative",
                              "rate": "0.0",
                              "discount_rate": "0.0",
                              "commission_price_cents": 0,
                              "commission_price_currency": "EUR",
                              "discount_amount_cents": 0,
                              "discount_amount_currency": "EUR",
                              "created_at": "2020-02-11T17:41:18.699+01:00",
                              "updated_at": "2020-02-11T17:41:18.699+01:00",
                              "original_rate": "0.0",
                              "discount_amount_with_tax_cents": 0,
                              "discount_amount_with_tax_currency": "EUR",
                              "unit_deducted_amount_cents": 0,
                              "unit_deducted_amount_currency": "EUR",
                              "total_deducted_amount_cents": 0,
                              "total_deducted_amount_currency": "EUR"
                            }
                          }
                        ],
                        "invoice_debit": {
                          "id": 105844,
                          "order_id": 107580,
                          "number": 260,
                          "name": "FA-1260",
                          "due_date": "2020-03-12",
                          "created_at": "2020-02-11T17:42:55.068+01:00",
                          "updated_at": "2020-02-11T17:44:33.509+01:00",
                          "date": "2020-02-11",
                          "status": "debit",
                          "file": {
                            "url": "https://vinosoft-staging.s3-eu-west-3.amazonaws.com/uploads/invoice/file/105844/1274.pdf?X-Amz-Expires=300&X-Amz-Date=20200217T160824Z&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJQAEM4Z3DPIKNLLQ%2F20200217%2Feu-west-3%2Fs3%2Faws4_request&X-Amz-SignedHeaders=host&X-Amz-Signature=e8cf0faad55bd7d14ca4e4a6ead03b372eb5d594f9dcffe36a0ccf17b11c703c"
                          },
                          "notify_customer": false,
                          "kind": "facture",
                          "payment_duration": 0,
                          "payment_method": null,
                          "payment_period": null,
                          "commission_statement_id": null,
                          "paid_at": "2020-02-11",
                          "accounted_at": null,
                          "file_url": "https://vinosoft-staging.s3-eu-west-3.amazonaws.com/uploads/invoice/file/105844/1274.pdf?X-Amz-Expires=300&X-Amz-Date=20200217T160810Z&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJQAEM4Z3DPIKNLLQ%2F20200217%2Feu-west-3%2Fs3%2Faws4_request&X-Amz-SignedHeaders=host&X-Amz-Signature=4741d7ef88316c8056deb1d6aab2ef283be4393fb3b51a264c28ec60361b3625"
                        },
                        "shipping_line": {
                          "id": 107577,
                          "order_id": 107580,
                          "price_cents": 0,
                          "price_currency": "EUR",
                          "created_at": "2020-02-11T17:40:52.895+01:00",
                          "updated_at": "2020-02-11T17:40:52.895+01:00",
                          "fulfillment_service_id": null,
                          "calculation_method": "auto",
                          "price_with_tax_cents": 0,
                          "price_with_tax_currency": "EUR",
                          "cost_price_cents": 0,
                          "cost_price_currency": "EUR",
                          "gross_margin_cents": 0,
                          "gross_margin_currency": "EUR",
                          "departure_conditions": false,
                          "accounting_tax": null,
                          "name": "Livraison : Enlèvement sur place"
                        },
                        "tax_lines": [
                          {
                            "id": 305879,
                            "taxable_id": 107580,
                            "taxable_type": "Order",
                            "country_tax_id": 1,
                            "name": "TVA France",
                            "tax_percentage": "20.0",
                            "price_cents": 7560,
                            "price_currency": "EUR",
                            "created_at": "2020-02-11T17:41:46.156+01:00",
                            "updated_at": "2020-02-11T17:41:46.156+01:00"
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "operationId": "get-orders",
        "description": "Liste des commandes paginées. Paginées par 50, indiquer le paramètre page pour obtenir les commandes suivantes, exemple : ",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "page"
          }
        ],
        "tags": [
          "Commandes"
        ]
      },
      "parameters": [],
      "post": {
        "summary": "Création d'une commande",
        "operationId": "post-orders",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "": {
                    "type": "string",
                    "x-stoplight": {
                      "id": "xk7imgak8wiln"
                    }
                  }
                }
              },
              "examples": {
                "example": {
                  "value": {
                    "order": {
                      "customer_id": 124389,
                      "sales_agent_id": null,
                      "note": "",
                      "price_grid_id": 4287,
                      "date": "2020-02-11",
                      "name": "#1274",
                      "reference": null,
                      "warehouse_id": 638,
                      "invoice_note": null,
                      "price_with_tax": true,
                      "tag_list": [],
                      "customer": {
                        "id": 124389,
                        "name": "Lucas Picard",
                        "email": "sylvain@baqio.com",
                        "note": null,
                        "accepts_emailing": true,
                        "sales_agent_id": null,
                        "price_grid_id": 4287,
                        "reference": null,
                        "accepts_mailing": true,
                        "warehouse_id": null,
                        "customer_category_id": 5071,
                        "automatic_discount_rate": null,
                        "commission_rate": null,
                        "tag_list": [],
                        "billing_information": {
                          "company_name": "",
                          "first_name": "Lucas",
                          "last_name": "Picard",
                          "email": "sylvain@baqio.com",
                          "address1": "",
                          "address2": "",
                          "city": "MONTPELLIER",
                          "zip": "34000",
                          "country_code": "FR",
                          "phone": "",
                          "company_number": "",
                          "vat_number": "",
                          "excise_number": "",
                          "legal_form": "",
                          "mobile": "",
                          "address3": "",
                          "fax": null,
                          "tax_exempt": false,
                          "website": ""
                        },
                        "shipping_information": {
                          "use_billing_address": true,
                          "company_name": null,
                          "first_name": null,
                          "last_name": null,
                          "address1": null,
                          "address2": null,
                          "city": null,
                          "zip": null,
                          "country_code": null,
                          "phone": null,
                          "note": null,
                          "delivery_schedules": null,
                          "closing_days": null,
                          "dae_number": null,
                          "address3": null,
                          "mobile": null,
                          "excise_number": null
                        }
                      },
                      "order_lines": [
                        {
                          "product_variant_sku": 6182,
                          "capsule_id": 430,
                          "product_label_id": null,
                          "batch_id": null,
                          "note": null,
                          "quantity": "36.0",
                          "manual_price": 11.67
                        }
                      ],
                      "shipping_line": {
                        "price_cents": 0,
                        "fulfillment_service_id": null,
                        "price_with_tax_cents": 0
                      },
                      "payments": [
                        {
                          "date": "09/06/2020",
                          "payment_source_id": 709,
                          "source_reference": "ST8171",
                          "comment": "paiement stripe",
                          "amount": 100
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "description": "Plusieurs possibilités sont offertes pour la création d'une commande en API sur Baqio. \n\n### Informations minimales à fournir\n\nNous décrivons ici les informations minimales à fournir pour la création d'une commande. \n\n#### Client\n\nDans le cas d'un client existant, vous pouvez transmettre son id, sa référence ou son identifiant woocommerce : \n\n```json\n\"customer\": {\n\tid: 123,\n\treference: 'BAQIO',\n\twoocommerce_id: '123456789'\n}\n```\n\nDans le cas d'un nouveau client, il faudra transmettre au minimum les informations suivantes: \n\n```json\n\"customer\": {\n\t\"billing_information\": {\n\t\t\"company_name\": \"BAQIO\",\n\t\t\"last_name\": \"Gautier\",\n\t\t\"first_name\": \"Sylvain\",\n\t\t\"country_code\": \"FR\"\n\t}\n}\n```\n\nSoit company_name est indiqué et les deux autres champs ne sont pas obligatoires, sinon il faut remplir first_name et last_name.\n\n#### Commande\n\nLes informations facultatives suivantes peuvent être indiquées : \n\n- `date` : Date de la commande\n- `order_type` (normal / samples / primeur) : type de commande (normale, primeur, échantillons)\n- `note` : Note interne sur cette commande\n- `reference` : Référence de la commande, **obligatoire** et unique parmi les commandes\n- `sales_agent_id` : Id du représentant commercial\n- `warehouse_id` : Id de l'entrepôt de départ des produits\n- `register_id`: Id du point de vente\n- `price_grid_id` : Id de la grille tarifaire. Si elle n'est pas renseignée, c'est celle du point de vente si il est renseignée. Sinon c'est celle du client qui s'applique. Si il n'en a pas, c'est celle par défaut définie au niveau du compte.\n\n#### Lignes de commandes\n\nAu niveau des lignes de commande, il faut au minimum fournir un tableau de hash contenant pour chaque ligne : \n\n```json\n\"order_lines\": [\n\t{\n\t\t\"product_variant_sku\": 'RDP',\n\t\t\"quantity\": 12\n\t}\n]\n```\n\nPar défaut, c'est le prix unitaire du produit pour la grille tarifaire qui est appliqué sur une ligne de commande. Si vous souhaitez modifier manuellement le prix unitaire, il faut renseigner le montant unitaire de la ligne. Dans le cas où la grille est définie en HT il s'agit du montant unitaire HT, dans le cas où la grille est définie en TTC, c'est le montant unitaire TTC :\n\n```json\n\"order_lines\": [\n\t{\n\t\t\"product_variant_sku\": 'RDP',\n\t\t\"quantity\": 12,\n\t\t\"manual_price\": 7.5\n\t}\n]\n```\n\nLes informations facultatives suivantes peuvent être renseignée :\n\n- `capsule_id` : Id de la capsule CRD utilisée. Sinon par défaut celle applicable (CRD ou Neutre) définie au niveau du produit qui s'applique\n- `product_label_id` : Id de l'habillage utilisé. Sinon par défaut, c'est celui applicable pour le client ou pour la grille tarifaire qui s'applique.\n- `batch_id` : Id du numéro de lot. Sinon c'est celui par défaut qui s'applique.\n- `note` : Information complémentaire indiquée sur la ligne de commande.\n\n#### Frais de port\n\nIl est possible d'indiquer des frais de port sur la commande.\n\n```json\n\"shipping_line\": {\n   \"fulfillment_service_id\": null,\n\t \"calculation_method\": 'auto',\n\t \"price\": 0,\n   \"price_with_tax\": 0,\n}\n```\n\nVous pouvez spécifier manuellement des frais de port à appliquer à la commande. \n\nDans ce cas le champ `calculation_method` doit prendre la valeur '`manual`'. Vous pouvez alors indiquer le montant HT et TTC des frais de port avec `price` et `price_with_tax`.\n\nIl est également possible d'indiquer un transporteur (`fulfillment_service_id`), si le champ `calculation_method` est vide ou à auto, les frais de transport seront calculés automatiquement en fonction de la grille définie au niveau du transporteur.\n\nDe la même façon, vous pouvez définir manuellement les frais de port quand un transporteur est sélectionné.\n\n#### Règlements\n\nIl est possible d'indiquer un ou plusieurs règlements sur la commande.\n\nDans un premier temps, vous pouvez récupérer la liste des moyens de paiements via le endpoint \"payment_sources\".\n\nVous pouvez ensuite indiquer la liste des règlements : \n\n```json\n\"payments\": [\n    {\n      \"date\": '09/06/2020',\n      \"payment_source_id\": 709,\n      \"source_reference\": 'ST8171',\n      \"comment\": 'paiement stripe',\n      \"amount\": 100.0\n    }\n  ]\n```\n\nLes champs date, payment_source_id et amount sont obligatoires.\n\n### Etats de la commande \n\nSi vous renvoyez une commande avec la même référence mais que vous spécifiez un state différent, celle-ci sera mise à jour. \n\n- Si la commande est à l'état 'pending' et que vous passez le state 'validated', cela validera la commande et réservera le stock.\n- Si la commande est à l'état 'pending' ou 'validated' et que vous passez l'état 'removed', cela annulera la commande.\n- Si la commande est à l'état 'invoiced' et que vous passez l'état 'cancelled', la commande sera annulée et un avoir sera créé."
        },
        "description": "Création de commandes.",
        "tags": [
          "Commandes"
        ]
      }
    },
    "/fulfillments": {
      "get": {
        "summary": "Liste les expéditions",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Fulfillment"
                },
                "examples": {
                  "example": {
                    "value": [
                      {
                        "id": 60593,
                        "order_id": null,
                        "status": "fulfilled",
                        "fulfillment_service_id": null,
                        "created_at": "2020-06-16T16:35:10.816+02:00",
                        "updated_at": "2020-06-16T16:35:29.409+02:00",
                        "notify_customer": null,
                        "notify_fulfillment_service": null,
                        "number": 876,
                        "note": "",
                        "date": "2020-06-16",
                        "picking_note": null,
                        "account_id": 86,
                        "warehouse_id": null,
                        "customer_id": null,
                        "customs_document": null,
                        "customs_number": null,
                        "excise_duty_state": "pay",
                        "cancelled_at": null,
                        "deleted_at": null,
                        "kind": "standard",
                        "reference": null,
                        "picking_requested_at": null,
                        "picking_started_at": null,
                        "picking_completed_at": null,
                        "transportation_mode": null,
                        "fulfillment_note": null,
                        "customs_file": {
                          "url": null
                        },
                        "source_type": "Warehouse",
                        "source_id": 86,
                        "destination_type": "Customer",
                        "destination_id": 77,
                        "supplier_order_id": null,
                        "fulfillment_group_id": null,
                        "trade_union_reference": null,
                        "initial_date": null,
                        "source": {
                          "id": 86,
                          "account_id": 86,
                          "name": "Chai",
                          "deleted_at": null,
                          "created_at": "2017-05-24T11:01:47.607+02:00",
                          "updated_at": "2017-05-24T11:01:47.607+02:00",
                          "default": true,
                          "excise_duty_suspended": true
                        },
                        "destination": {
                          "id": 77,
                          "account_id": 86,
                          "name": "Frédérique Faure",
                          "email": "sylvain+faure@vinosoft.com",
                          "note": "",
                          "accepts_emailing": true,
                          "created_at": "2017-05-24T11:08:51.608+02:00",
                          "updated_at": "2017-07-31T23:17:24.897+02:00",
                          "sales_agent_id": null,
                          "price_grid_id": 109,
                          "reference": null,
                          "accepts_mailing": true,
                          "warehouse_id": 86,
                          "visibility": "all",
                          "channel": null,
                          "customer_category_id": 505,
                          "deleted_at": null,
                          "payment_method": "",
                          "payment_period": "",
                          "code": "000005",
                          "vinosoft_id": null,
                          "accounted_at": "2018-01-18T16:55:33.241+01:00",
                          "hid": null,
                          "user_id": null,
                          "automatic_discount_rate": null,
                          "sponsor_id": null,
                          "commission_rate": null,
                          "invoice_preference": null,
                          "block_orders": false,
                          "sticky_note": false,
                          "invoice_template_id": null
                        },
                        "fulfillment_lines": [
                          {
                            "id": 125445,
                            "fulfillment_id": 60593,
                            "order_line_id": null,
                            "quantity": "12.0",
                            "created_at": "2020-06-16T16:35:18.749+02:00",
                            "updated_at": "2020-06-16T16:35:18.749+02:00",
                            "product_variant_id": 1702,
                            "product_label_id": null,
                            "capsule_id": null,
                            "batch_id": null,
                            "capsule_kind": null,
                            "supplier_order_line_id": null,
                            "product_variant": {
                              "id": 1702,
                              "product_size_id": 14,
                              "sku": "",
                              "default_barcode": "",
                              "created_at": "2019-02-12T10:14:25.050+01:00",
                              "updated_at": "2019-12-22T14:09:38.166+01:00",
                              "product_packaging_id": 482,
                              "deleted_at": null,
                              "product_label_id": null,
                              "product_vintage_id": 1297,
                              "nc8_code": "",
                              "vinosoft_id": null,
                              "net_weight": null,
                              "tare": null,
                              "functional_code": "",
                              "cost_price_cents": 0,
                              "cost_price_currency": "EUR",
                              "marketable": false,
                              "fulfillable": true,
                              "capsule_id": null,
                              "neutral_capsule_id": null,
                              "sales_unit": 1,
                              "cspc": null,
                              "ttb_id": null
                            }
                          }
                        ]
                      },
                      {
                        "id": 60069,
                        "order_id": 144805,
                        "status": "validated",
                        "fulfillment_service_id": null,
                        "created_at": "2020-06-10T11:17:30.852+02:00",
                        "updated_at": "2020-06-10T11:17:30.907+02:00",
                        "notify_customer": null,
                        "notify_fulfillment_service": null,
                        "number": 874,
                        "note": null,
                        "date": null,
                        "picking_note": null,
                        "account_id": 86,
                        "warehouse_id": null,
                        "customer_id": null,
                        "customs_document": null,
                        "customs_number": null,
                        "excise_duty_state": "suspended",
                        "cancelled_at": null,
                        "deleted_at": null,
                        "kind": "standard",
                        "reference": null,
                        "picking_requested_at": null,
                        "picking_started_at": null,
                        "picking_completed_at": null,
                        "transportation_mode": null,
                        "fulfillment_note": null,
                        "customs_file": {
                          "url": null
                        },
                        "source_type": "Warehouse",
                        "source_id": 86,
                        "destination_type": "Customer",
                        "destination_id": 164003,
                        "supplier_order_id": null,
                        "fulfillment_group_id": null,
                        "trade_union_reference": null,
                        "initial_date": null,
                        "source": {
                          "id": 86,
                          "account_id": 86,
                          "name": "Chai",
                          "deleted_at": null,
                          "created_at": "2017-05-24T11:01:47.607+02:00",
                          "updated_at": "2017-05-24T11:01:47.607+02:00",
                          "default": true,
                          "excise_duty_suspended": true
                        },
                        "destination": {
                          "id": 164003,
                          "account_id": 86,
                          "name": "Sylvain Gautier",
                          "email": "",
                          "note": null,
                          "accepts_emailing": true,
                          "created_at": "2020-05-11T16:27:50.592+02:00",
                          "updated_at": "2020-06-10T11:16:31.192+02:00",
                          "sales_agent_id": null,
                          "price_grid_id": null,
                          "reference": null,
                          "accepts_mailing": true,
                          "warehouse_id": null,
                          "visibility": "all",
                          "channel": null,
                          "customer_category_id": null,
                          "deleted_at": null,
                          "payment_method": null,
                          "payment_period": null,
                          "code": "GAUTI3",
                          "vinosoft_id": null,
                          "accounted_at": null,
                          "hid": null,
                          "user_id": null,
                          "automatic_discount_rate": null,
                          "sponsor_id": null,
                          "commission_rate": null,
                          "invoice_preference": null,
                          "block_orders": false,
                          "sticky_note": false,
                          "invoice_template_id": null
                        },
                        "fulfillment_lines": [
                          {
                            "id": 124451,
                            "fulfillment_id": 60069,
                            "order_line_id": 379274,
                            "quantity": "12.0",
                            "created_at": "2020-06-10T11:17:30.855+02:00",
                            "updated_at": "2020-06-10T11:17:30.855+02:00",
                            "product_variant_id": 6074,
                            "product_label_id": null,
                            "capsule_id": null,
                            "batch_id": null,
                            "capsule_kind": null,
                            "supplier_order_line_id": null,
                            "product_variant": {
                              "id": 6074,
                              "product_size_id": 18,
                              "sku": null,
                              "default_barcode": "",
                              "created_at": "2019-12-27T12:36:18.596+01:00",
                              "updated_at": "2019-12-27T12:36:18.596+01:00",
                              "product_packaging_id": 484,
                              "deleted_at": null,
                              "product_label_id": null,
                              "product_vintage_id": 4333,
                              "nc8_code": "",
                              "vinosoft_id": null,
                              "net_weight": null,
                              "tare": null,
                              "functional_code": "",
                              "cost_price_cents": 0,
                              "cost_price_currency": "EUR",
                              "marketable": true,
                              "fulfillable": true,
                              "capsule_id": null,
                              "neutral_capsule_id": null,
                              "sales_unit": 1,
                              "cspc": null,
                              "ttb_id": null
                            }
                          }
                        ]
                      },
                      {
                        "id": 60065,
                        "order_id": 144803,
                        "status": "fulfilled",
                        "fulfillment_service_id": null,
                        "created_at": "2020-06-10T10:18:10.778+02:00",
                        "updated_at": "2020-06-10T10:18:11.446+02:00",
                        "notify_customer": null,
                        "notify_fulfillment_service": null,
                        "number": 872,
                        "note": null,
                        "date": "2020-06-10",
                        "picking_note": null,
                        "account_id": 86,
                        "warehouse_id": null,
                        "customer_id": null,
                        "customs_document": null,
                        "customs_number": null,
                        "excise_duty_state": "pay",
                        "cancelled_at": null,
                        "deleted_at": null,
                        "kind": "standard",
                        "reference": null,
                        "picking_requested_at": null,
                        "picking_started_at": null,
                        "picking_completed_at": null,
                        "transportation_mode": null,
                        "fulfillment_note": null,
                        "customs_file": {
                          "url": null
                        },
                        "source_type": "Warehouse",
                        "source_id": 86,
                        "destination_type": null,
                        "destination_id": null,
                        "supplier_order_id": null,
                        "fulfillment_group_id": null,
                        "trade_union_reference": null,
                        "initial_date": null,
                        "source": {
                          "id": 86,
                          "account_id": 86,
                          "name": "Chai",
                          "deleted_at": null,
                          "created_at": "2017-05-24T11:01:47.607+02:00",
                          "updated_at": "2017-05-24T11:01:47.607+02:00",
                          "default": true,
                          "excise_duty_suspended": true
                        },
                        "fulfillment_lines": [
                          {
                            "id": 124445,
                            "fulfillment_id": 60065,
                            "order_line_id": 379270,
                            "quantity": "6.0",
                            "created_at": "2020-06-10T10:18:10.781+02:00",
                            "updated_at": "2020-06-10T10:18:10.781+02:00",
                            "product_variant_id": 679,
                            "product_label_id": null,
                            "capsule_id": 31,
                            "batch_id": null,
                            "capsule_kind": null,
                            "supplier_order_line_id": null,
                            "product_variant": {
                              "id": 679,
                              "product_size_id": 2,
                              "sku": "",
                              "default_barcode": "",
                              "created_at": "2018-06-05T22:14:36.892+02:00",
                              "updated_at": "2018-06-05T22:14:36.892+02:00",
                              "product_packaging_id": 887,
                              "deleted_at": null,
                              "product_label_id": null,
                              "product_vintage_id": 557,
                              "nc8_code": "",
                              "vinosoft_id": null,
                              "net_weight": null,
                              "tare": null,
                              "functional_code": "",
                              "cost_price_cents": 0,
                              "cost_price_currency": "EUR",
                              "marketable": true,
                              "fulfillable": true,
                              "capsule_id": null,
                              "neutral_capsule_id": null,
                              "sales_unit": 1,
                              "cspc": null,
                              "ttb_id": null
                            }
                          },
                          {
                            "id": 124446,
                            "fulfillment_id": 60065,
                            "order_line_id": 379271,
                            "quantity": "6.0",
                            "created_at": "2020-06-10T10:18:10.856+02:00",
                            "updated_at": "2020-06-10T10:18:10.856+02:00",
                            "product_variant_id": 718,
                            "product_label_id": 159,
                            "capsule_id": 22,
                            "batch_id": null,
                            "capsule_kind": null,
                            "supplier_order_line_id": null,
                            "product_variant": {
                              "id": 718,
                              "product_size_id": 2,
                              "sku": "",
                              "default_barcode": "",
                              "created_at": "2018-07-13T14:38:33.863+02:00",
                              "updated_at": "2018-10-10T14:51:30.316+02:00",
                              "product_packaging_id": 484,
                              "deleted_at": null,
                              "product_label_id": null,
                              "product_vintage_id": 590,
                              "nc8_code": "",
                              "vinosoft_id": null,
                              "net_weight": null,
                              "tare": null,
                              "functional_code": "",
                              "cost_price_cents": 450,
                              "cost_price_currency": "EUR",
                              "marketable": true,
                              "fulfillable": true,
                              "capsule_id": null,
                              "neutral_capsule_id": null,
                              "sales_unit": 1,
                              "cspc": null,
                              "ttb_id": null
                            }
                          },
                          {
                            "id": 124447,
                            "fulfillment_id": 60065,
                            "order_line_id": 379272,
                            "quantity": "6.0",
                            "created_at": "2020-06-10T10:18:10.863+02:00",
                            "updated_at": "2020-06-10T10:18:10.863+02:00",
                            "product_variant_id": 1690,
                            "product_label_id": null,
                            "capsule_id": 37,
                            "batch_id": null,
                            "capsule_kind": null,
                            "supplier_order_line_id": null,
                            "product_variant": {
                              "id": 1690,
                              "product_size_id": 2,
                              "sku": "",
                              "default_barcode": "",
                              "created_at": "2019-02-04T09:04:51.446+01:00",
                              "updated_at": "2019-02-04T09:05:16.820+01:00",
                              "product_packaging_id": 484,
                              "deleted_at": null,
                              "product_label_id": null,
                              "product_vintage_id": 1287,
                              "nc8_code": "",
                              "vinosoft_id": null,
                              "net_weight": null,
                              "tare": null,
                              "functional_code": "",
                              "cost_price_cents": 500,
                              "cost_price_currency": "EUR",
                              "marketable": true,
                              "fulfillable": true,
                              "capsule_id": null,
                              "neutral_capsule_id": null,
                              "sales_unit": 1,
                              "cspc": null,
                              "ttb_id": null
                            }
                          }
                        ]
                      },
                      {
                        "id": 60064,
                        "order_id": 144802,
                        "status": "fulfilled",
                        "fulfillment_service_id": null,
                        "created_at": "2020-06-10T10:17:37.339+02:00",
                        "updated_at": "2020-06-10T10:17:38.068+02:00",
                        "notify_customer": null,
                        "notify_fulfillment_service": null,
                        "number": 871,
                        "note": null,
                        "date": "2020-06-10",
                        "picking_note": null,
                        "account_id": 86,
                        "warehouse_id": null,
                        "customer_id": null,
                        "customs_document": null,
                        "customs_number": null,
                        "excise_duty_state": "pay",
                        "cancelled_at": null,
                        "deleted_at": null,
                        "kind": "standard",
                        "reference": null,
                        "picking_requested_at": null,
                        "picking_started_at": null,
                        "picking_completed_at": null,
                        "transportation_mode": null,
                        "fulfillment_note": null,
                        "customs_file": {
                          "url": null
                        },
                        "source_type": "Warehouse",
                        "source_id": 86,
                        "destination_type": null,
                        "destination_id": null,
                        "supplier_order_id": null,
                        "fulfillment_group_id": null,
                        "trade_union_reference": null,
                        "initial_date": null,
                        "source": {
                          "id": 86,
                          "account_id": 86,
                          "name": "Chai",
                          "deleted_at": null,
                          "created_at": "2017-05-24T11:01:47.607+02:00",
                          "updated_at": "2017-05-24T11:01:47.607+02:00",
                          "default": true,
                          "excise_duty_suspended": true
                        },
                        "fulfillment_lines": [
                          {
                            "id": 124444,
                            "fulfillment_id": 60064,
                            "order_line_id": 379269,
                            "quantity": "6.0",
                            "created_at": "2020-06-10T10:17:37.358+02:00",
                            "updated_at": "2020-06-10T10:17:37.358+02:00",
                            "product_variant_id": 718,
                            "product_label_id": 159,
                            "capsule_id": 22,
                            "batch_id": null,
                            "capsule_kind": null,
                            "supplier_order_line_id": null,
                            "product_variant": {
                              "id": 718,
                              "product_size_id": 2,
                              "sku": "",
                              "default_barcode": "",
                              "created_at": "2018-07-13T14:38:33.863+02:00",
                              "updated_at": "2018-10-10T14:51:30.316+02:00",
                              "product_packaging_id": 484,
                              "deleted_at": null,
                              "product_label_id": null,
                              "product_vintage_id": 590,
                              "nc8_code": "",
                              "vinosoft_id": null,
                              "net_weight": null,
                              "tare": null,
                              "functional_code": "",
                              "cost_price_cents": 450,
                              "cost_price_currency": "EUR",
                              "marketable": true,
                              "fulfillable": true,
                              "capsule_id": null,
                              "neutral_capsule_id": null,
                              "sales_unit": 1,
                              "cspc": null,
                              "ttb_id": null
                            }
                          }
                        ]
                      },
                      {
                        "id": 58960,
                        "order_id": 121402,
                        "status": "validated",
                        "fulfillment_service_id": null,
                        "created_at": "2020-05-07T09:22:28.570+02:00",
                        "updated_at": "2020-05-07T09:22:28.621+02:00",
                        "notify_customer": null,
                        "notify_fulfillment_service": null,
                        "number": 870,
                        "note": null,
                        "date": null,
                        "picking_note": null,
                        "account_id": 86,
                        "warehouse_id": null,
                        "customer_id": null,
                        "customs_document": null,
                        "customs_number": null,
                        "excise_duty_state": "pay",
                        "cancelled_at": null,
                        "deleted_at": null,
                        "kind": "standard",
                        "reference": null,
                        "picking_requested_at": null,
                        "picking_started_at": null,
                        "picking_completed_at": null,
                        "transportation_mode": null,
                        "fulfillment_note": null,
                        "customs_file": {
                          "url": null
                        },
                        "source_type": "Warehouse",
                        "source_id": 86,
                        "destination_type": "Customer",
                        "destination_id": 77,
                        "supplier_order_id": null,
                        "fulfillment_group_id": null,
                        "trade_union_reference": null,
                        "initial_date": null,
                        "source": {
                          "id": 86,
                          "account_id": 86,
                          "name": "Chai",
                          "deleted_at": null,
                          "created_at": "2017-05-24T11:01:47.607+02:00",
                          "updated_at": "2017-05-24T11:01:47.607+02:00",
                          "default": true,
                          "excise_duty_suspended": true
                        },
                        "destination": {
                          "id": 77,
                          "account_id": 86,
                          "name": "Frédérique Faure",
                          "email": "sylvain+faure@vinosoft.com",
                          "note": "",
                          "accepts_emailing": true,
                          "created_at": "2017-05-24T11:08:51.608+02:00",
                          "updated_at": "2017-07-31T23:17:24.897+02:00",
                          "sales_agent_id": null,
                          "price_grid_id": 109,
                          "reference": null,
                          "accepts_mailing": true,
                          "warehouse_id": 86,
                          "visibility": "all",
                          "channel": null,
                          "customer_category_id": 505,
                          "deleted_at": null,
                          "payment_method": "",
                          "payment_period": "",
                          "code": "000005",
                          "vinosoft_id": null,
                          "accounted_at": "2018-01-18T16:55:33.241+01:00",
                          "hid": null,
                          "user_id": null,
                          "automatic_discount_rate": null,
                          "sponsor_id": null,
                          "commission_rate": null,
                          "invoice_preference": null,
                          "block_orders": false,
                          "sticky_note": false,
                          "invoice_template_id": null
                        },
                        "fulfillment_lines": [
                          {
                            "id": 122283,
                            "fulfillment_id": 58960,
                            "order_line_id": 308949,
                            "quantity": "1.0",
                            "created_at": "2020-05-07T09:22:28.573+02:00",
                            "updated_at": "2020-05-07T09:22:28.573+02:00",
                            "product_variant_id": 1701,
                            "product_label_id": null,
                            "capsule_id": 22,
                            "batch_id": null,
                            "capsule_kind": null,
                            "supplier_order_line_id": null,
                            "product_variant": {
                              "id": 1701,
                              "product_size_id": 2,
                              "sku": "",
                              "default_barcode": "",
                              "created_at": "2019-02-12T10:14:04.243+01:00",
                              "updated_at": "2019-03-19T12:34:23.064+01:00",
                              "product_packaging_id": 484,
                              "deleted_at": null,
                              "product_label_id": null,
                              "product_vintage_id": 1296,
                              "nc8_code": "",
                              "vinosoft_id": null,
                              "net_weight": null,
                              "tare": null,
                              "functional_code": "",
                              "cost_price_cents": 0,
                              "cost_price_currency": "EUR",
                              "marketable": true,
                              "fulfillable": true,
                              "capsule_id": null,
                              "neutral_capsule_id": null,
                              "sales_unit": 1,
                              "cspc": null,
                              "ttb_id": null
                            }
                          }
                        ]
                      },
                      {
                        "id": 58588,
                        "order_id": 109296,
                        "status": "validated",
                        "fulfillment_service_id": null,
                        "created_at": "2020-04-24T14:29:39.196+02:00",
                        "updated_at": "2020-04-24T14:29:39.424+02:00",
                        "notify_customer": null,
                        "notify_fulfillment_service": null,
                        "number": 867,
                        "note": null,
                        "date": null,
                        "picking_note": null,
                        "account_id": 86,
                        "warehouse_id": null,
                        "customer_id": null,
                        "customs_document": null,
                        "customs_number": null,
                        "excise_duty_state": "pay",
                        "cancelled_at": null,
                        "deleted_at": null,
                        "kind": "standard",
                        "reference": null,
                        "picking_requested_at": null,
                        "picking_started_at": null,
                        "picking_completed_at": null,
                        "transportation_mode": null,
                        "fulfillment_note": null,
                        "customs_file": {
                          "url": null
                        },
                        "source_type": "Warehouse",
                        "source_id": 86,
                        "destination_type": "Customer",
                        "destination_id": 79,
                        "supplier_order_id": null,
                        "fulfillment_group_id": null,
                        "trade_union_reference": null,
                        "initial_date": null,
                        "source": {
                          "id": 86,
                          "account_id": 86,
                          "name": "Chai",
                          "deleted_at": null,
                          "created_at": "2017-05-24T11:01:47.607+02:00",
                          "updated_at": "2017-05-24T11:01:47.607+02:00",
                          "default": true,
                          "excise_duty_suspended": true
                        },
                        "destination": {
                          "id": 79,
                          "account_id": 86,
                          "name": "Mr Benoit Taillefert",
                          "email": "benoit.taillefert@gmail.com, benoit@vinosoft.com",
                          "note": "",
                          "accepts_emailing": true,
                          "created_at": "2017-05-24T12:48:11.989+02:00",
                          "updated_at": "2020-04-29T06:24:41.501+02:00",
                          "sales_agent_id": null,
                          "price_grid_id": 109,
                          "reference": "130002",
                          "accepts_mailing": true,
                          "warehouse_id": 86,
                          "visibility": "all",
                          "channel": null,
                          "customer_category_id": 505,
                          "deleted_at": null,
                          "payment_method": null,
                          "payment_period": null,
                          "code": "000007",
                          "vinosoft_id": null,
                          "accounted_at": "2018-01-18T16:55:33.241+01:00",
                          "hid": "60c330fa-0777-48cf-86ad-b5b46e41c65b",
                          "user_id": 108,
                          "automatic_discount_rate": null,
                          "sponsor_id": null,
                          "commission_rate": null,
                          "invoice_preference": null,
                          "block_orders": false,
                          "sticky_note": false,
                          "invoice_template_id": 930
                        },
                        "fulfillment_lines": [
                          {
                            "id": 121570,
                            "fulfillment_id": 58588,
                            "order_line_id": 309683,
                            "quantity": "1.0",
                            "created_at": "2020-04-24T14:29:39.213+02:00",
                            "updated_at": "2020-04-24T14:29:39.213+02:00",
                            "product_variant_id": 2279,
                            "product_label_id": null,
                            "capsule_id": 32,
                            "batch_id": null,
                            "capsule_kind": null,
                            "supplier_order_line_id": null,
                            "product_variant": {
                              "id": 2279,
                              "product_size_id": 11,
                              "sku": "",
                              "default_barcode": "",
                              "created_at": "2019-05-17T11:02:53.928+02:00",
                              "updated_at": "2020-05-22T16:01:40.462+02:00",
                              "product_packaging_id": 484,
                              "deleted_at": null,
                              "product_label_id": null,
                              "product_vintage_id": 1296,
                              "nc8_code": "",
                              "vinosoft_id": null,
                              "net_weight": null,
                              "tare": null,
                              "functional_code": "",
                              "cost_price_cents": 0,
                              "cost_price_currency": "EUR",
                              "marketable": true,
                              "fulfillable": true,
                              "capsule_id": null,
                              "neutral_capsule_id": null,
                              "sales_unit": 1,
                              "cspc": "",
                              "ttb_id": ""
                            }
                          }
                        ]
                      },
                      {
                        "id": 58587,
                        "order_id": 110071,
                        "status": "validated",
                        "fulfillment_service_id": null,
                        "created_at": "2020-04-24T14:27:57.284+02:00",
                        "updated_at": "2020-04-24T14:27:57.608+02:00",
                        "notify_customer": null,
                        "notify_fulfillment_service": null,
                        "number": 866,
                        "note": null,
                        "date": null,
                        "picking_note": null,
                        "account_id": 86,
                        "warehouse_id": null,
                        "customer_id": null,
                        "customs_document": null,
                        "customs_number": null,
                        "excise_duty_state": "pay",
                        "cancelled_at": null,
                        "deleted_at": null,
                        "kind": "standard",
                        "reference": null,
                        "picking_requested_at": null,
                        "picking_started_at": null,
                        "picking_completed_at": null,
                        "transportation_mode": null,
                        "fulfillment_note": null,
                        "customs_file": {
                          "url": null
                        },
                        "source_type": "Warehouse",
                        "source_id": 86,
                        "destination_type": "Customer",
                        "destination_id": 79,
                        "supplier_order_id": null,
                        "fulfillment_group_id": null,
                        "trade_union_reference": null,
                        "initial_date": null,
                        "source": {
                          "id": 86,
                          "account_id": 86,
                          "name": "Chai",
                          "deleted_at": null,
                          "created_at": "2017-05-24T11:01:47.607+02:00",
                          "updated_at": "2017-05-24T11:01:47.607+02:00",
                          "default": true,
                          "excise_duty_suspended": true
                        },
                        "destination": {
                          "id": 79,
                          "account_id": 86,
                          "name": "Mr Benoit Taillefert",
                          "email": "benoit.taillefert@gmail.com, benoit@vinosoft.com",
                          "note": "",
                          "accepts_emailing": true,
                          "created_at": "2017-05-24T12:48:11.989+02:00",
                          "updated_at": "2020-04-29T06:24:41.501+02:00",
                          "sales_agent_id": null,
                          "price_grid_id": 109,
                          "reference": "130002",
                          "accepts_mailing": true,
                          "warehouse_id": 86,
                          "visibility": "all",
                          "channel": null,
                          "customer_category_id": 505,
                          "deleted_at": null,
                          "payment_method": null,
                          "payment_period": null,
                          "code": "000007",
                          "vinosoft_id": null,
                          "accounted_at": "2018-01-18T16:55:33.241+01:00",
                          "hid": "60c330fa-0777-48cf-86ad-b5b46e41c65b",
                          "user_id": 108,
                          "automatic_discount_rate": null,
                          "sponsor_id": null,
                          "commission_rate": null,
                          "invoice_preference": null,
                          "block_orders": false,
                          "sticky_note": false,
                          "invoice_template_id": 930
                        },
                        "fulfillment_lines": [
                          {
                            "id": 121569,
                            "fulfillment_id": 58587,
                            "order_line_id": 263918,
                            "quantity": "12.0",
                            "created_at": "2020-04-24T14:27:57.301+02:00",
                            "updated_at": "2020-04-24T14:27:57.301+02:00",
                            "product_variant_id": 2279,
                            "product_label_id": null,
                            "capsule_id": 22,
                            "batch_id": null,
                            "capsule_kind": null,
                            "supplier_order_line_id": null,
                            "product_variant": {
                              "id": 2279,
                              "product_size_id": 11,
                              "sku": "",
                              "default_barcode": "",
                              "created_at": "2019-05-17T11:02:53.928+02:00",
                              "updated_at": "2020-05-22T16:01:40.462+02:00",
                              "product_packaging_id": 484,
                              "deleted_at": null,
                              "product_label_id": null,
                              "product_vintage_id": 1296,
                              "nc8_code": "",
                              "vinosoft_id": null,
                              "net_weight": null,
                              "tare": null,
                              "functional_code": "",
                              "cost_price_cents": 0,
                              "cost_price_currency": "EUR",
                              "marketable": true,
                              "fulfillable": true,
                              "capsule_id": null,
                              "neutral_capsule_id": null,
                              "sales_unit": 1,
                              "cspc": "",
                              "ttb_id": ""
                            }
                          }
                        ]
                      },
                      {
                        "id": 58586,
                        "order_id": 109296,
                        "status": "cancelled",
                        "fulfillment_service_id": null,
                        "created_at": "2020-04-24T14:26:44.601+02:00",
                        "updated_at": "2020-04-24T14:28:49.920+02:00",
                        "notify_customer": null,
                        "notify_fulfillment_service": null,
                        "number": 865,
                        "note": "",
                        "date": "2020-04-24",
                        "picking_note": null,
                        "account_id": 86,
                        "warehouse_id": null,
                        "customer_id": null,
                        "customs_document": null,
                        "customs_number": null,
                        "excise_duty_state": "suspended",
                        "cancelled_at": "2020-04-24T00:00:00.000+02:00",
                        "deleted_at": null,
                        "kind": "standard",
                        "reference": null,
                        "picking_requested_at": null,
                        "picking_started_at": null,
                        "picking_completed_at": null,
                        "transportation_mode": null,
                        "fulfillment_note": null,
                        "customs_file": {
                          "url": null
                        },
                        "source_type": "Warehouse",
                        "source_id": 86,
                        "destination_type": "Customer",
                        "destination_id": 79,
                        "supplier_order_id": null,
                        "fulfillment_group_id": null,
                        "trade_union_reference": null,
                        "initial_date": null,
                        "source": {
                          "id": 86,
                          "account_id": 86,
                          "name": "Chai",
                          "deleted_at": null,
                          "created_at": "2017-05-24T11:01:47.607+02:00",
                          "updated_at": "2017-05-24T11:01:47.607+02:00",
                          "default": true,
                          "excise_duty_suspended": true
                        },
                        "destination": {
                          "id": 79,
                          "account_id": 86,
                          "name": "Mr Benoit Taillefert",
                          "email": "benoit.taillefert@gmail.com, benoit@vinosoft.com",
                          "note": "",
                          "accepts_emailing": true,
                          "created_at": "2017-05-24T12:48:11.989+02:00",
                          "updated_at": "2020-04-29T06:24:41.501+02:00",
                          "sales_agent_id": null,
                          "price_grid_id": 109,
                          "reference": "130002",
                          "accepts_mailing": true,
                          "warehouse_id": 86,
                          "visibility": "all",
                          "channel": null,
                          "customer_category_id": 505,
                          "deleted_at": null,
                          "payment_method": null,
                          "payment_period": null,
                          "code": "000007",
                          "vinosoft_id": null,
                          "accounted_at": "2018-01-18T16:55:33.241+01:00",
                          "hid": "60c330fa-0777-48cf-86ad-b5b46e41c65b",
                          "user_id": 108,
                          "automatic_discount_rate": null,
                          "sponsor_id": null,
                          "commission_rate": null,
                          "invoice_preference": null,
                          "block_orders": false,
                          "sticky_note": false,
                          "invoice_template_id": 930
                        },
                        "fulfillment_lines": [
                          {
                            "id": 121568,
                            "fulfillment_id": 58586,
                            "order_line_id": 309683,
                            "quantity": "1.0",
                            "created_at": "2020-04-24T14:26:44.618+02:00",
                            "updated_at": "2020-04-24T14:26:44.618+02:00",
                            "product_variant_id": 2279,
                            "product_label_id": null,
                            "capsule_id": 32,
                            "batch_id": null,
                            "capsule_kind": null,
                            "supplier_order_line_id": null,
                            "product_variant": {
                              "id": 2279,
                              "product_size_id": 11,
                              "sku": "",
                              "default_barcode": "",
                              "created_at": "2019-05-17T11:02:53.928+02:00",
                              "updated_at": "2020-05-22T16:01:40.462+02:00",
                              "product_packaging_id": 484,
                              "deleted_at": null,
                              "product_label_id": null,
                              "product_vintage_id": 1296,
                              "nc8_code": "",
                              "vinosoft_id": null,
                              "net_weight": null,
                              "tare": null,
                              "functional_code": "",
                              "cost_price_cents": 0,
                              "cost_price_currency": "EUR",
                              "marketable": true,
                              "fulfillable": true,
                              "capsule_id": null,
                              "neutral_capsule_id": null,
                              "sales_unit": 1,
                              "cspc": "",
                              "ttb_id": ""
                            }
                          }
                        ]
                      },
                      {
                        "id": 58585,
                        "order_id": 121268,
                        "status": "validated",
                        "fulfillment_service_id": null,
                        "created_at": "2020-04-24T14:23:46.701+02:00",
                        "updated_at": "2020-04-24T14:23:47.033+02:00",
                        "notify_customer": null,
                        "notify_fulfillment_service": null,
                        "number": 864,
                        "note": null,
                        "date": null,
                        "picking_note": null,
                        "account_id": 86,
                        "warehouse_id": null,
                        "customer_id": null,
                        "customs_document": null,
                        "customs_number": null,
                        "excise_duty_state": "pay",
                        "cancelled_at": null,
                        "deleted_at": null,
                        "kind": "standard",
                        "reference": null,
                        "picking_requested_at": null,
                        "picking_started_at": null,
                        "picking_completed_at": null,
                        "transportation_mode": null,
                        "fulfillment_note": null,
                        "customs_file": {
                          "url": null
                        },
                        "source_type": "Warehouse",
                        "source_id": 86,
                        "destination_type": "Customer",
                        "destination_id": 77,
                        "supplier_order_id": null,
                        "fulfillment_group_id": null,
                        "trade_union_reference": null,
                        "initial_date": null,
                        "source": {
                          "id": 86,
                          "account_id": 86,
                          "name": "Chai",
                          "deleted_at": null,
                          "created_at": "2017-05-24T11:01:47.607+02:00",
                          "updated_at": "2017-05-24T11:01:47.607+02:00",
                          "default": true,
                          "excise_duty_suspended": true
                        },
                        "destination": {
                          "id": 77,
                          "account_id": 86,
                          "name": "Frédérique Faure",
                          "email": "sylvain+faure@vinosoft.com",
                          "note": "",
                          "accepts_emailing": true,
                          "created_at": "2017-05-24T11:08:51.608+02:00",
                          "updated_at": "2017-07-31T23:17:24.897+02:00",
                          "sales_agent_id": null,
                          "price_grid_id": 109,
                          "reference": null,
                          "accepts_mailing": true,
                          "warehouse_id": 86,
                          "visibility": "all",
                          "channel": null,
                          "customer_category_id": 505,
                          "deleted_at": null,
                          "payment_method": "",
                          "payment_period": "",
                          "code": "000005",
                          "vinosoft_id": null,
                          "accounted_at": "2018-01-18T16:55:33.241+01:00",
                          "hid": null,
                          "user_id": null,
                          "automatic_discount_rate": null,
                          "sponsor_id": null,
                          "commission_rate": null,
                          "invoice_preference": null,
                          "block_orders": false,
                          "sticky_note": false,
                          "invoice_template_id": null
                        },
                        "fulfillment_lines": [
                          {
                            "id": 121567,
                            "fulfillment_id": 58585,
                            "order_line_id": 308683,
                            "quantity": "12.0",
                            "created_at": "2020-04-24T14:23:46.718+02:00",
                            "updated_at": "2020-04-24T14:23:46.718+02:00",
                            "product_variant_id": 2191,
                            "product_label_id": null,
                            "capsule_id": 31,
                            "batch_id": null,
                            "capsule_kind": null,
                            "supplier_order_line_id": null,
                            "product_variant": {
                              "id": 2191,
                              "product_size_id": 2,
                              "sku": "",
                              "default_barcode": "",
                              "created_at": "2019-05-02T11:29:47.155+02:00",
                              "updated_at": "2019-05-02T11:34:07.935+02:00",
                              "product_packaging_id": 886,
                              "deleted_at": null,
                              "product_label_id": null,
                              "product_vintage_id": 1679,
                              "nc8_code": "",
                              "vinosoft_id": null,
                              "net_weight": null,
                              "tare": null,
                              "functional_code": "",
                              "cost_price_cents": 0,
                              "cost_price_currency": "EUR",
                              "marketable": true,
                              "fulfillable": true,
                              "capsule_id": null,
                              "neutral_capsule_id": null,
                              "sales_unit": 1,
                              "cspc": null,
                              "ttb_id": null
                            }
                          }
                        ]
                      },
                      {
                        "id": 58584,
                        "order_id": 121246,
                        "status": "fulfilled",
                        "fulfillment_service_id": null,
                        "created_at": "2020-04-24T14:23:06.407+02:00",
                        "updated_at": "2020-04-24T14:23:32.308+02:00",
                        "notify_customer": null,
                        "notify_fulfillment_service": null,
                        "number": 863,
                        "note": "",
                        "date": "2020-04-24",
                        "picking_note": null,
                        "account_id": 86,
                        "warehouse_id": null,
                        "customer_id": null,
                        "customs_document": null,
                        "customs_number": null,
                        "excise_duty_state": "suspended",
                        "cancelled_at": null,
                        "deleted_at": null,
                        "kind": "standard",
                        "reference": null,
                        "picking_requested_at": null,
                        "picking_started_at": null,
                        "picking_completed_at": null,
                        "transportation_mode": null,
                        "fulfillment_note": null,
                        "customs_file": {
                          "url": null
                        },
                        "source_type": "Warehouse",
                        "source_id": 86,
                        "destination_type": "Customer",
                        "destination_id": 77,
                        "supplier_order_id": null,
                        "fulfillment_group_id": null,
                        "trade_union_reference": null,
                        "initial_date": null,
                        "source": {
                          "id": 86,
                          "account_id": 86,
                          "name": "Chai",
                          "deleted_at": null,
                          "created_at": "2017-05-24T11:01:47.607+02:00",
                          "updated_at": "2017-05-24T11:01:47.607+02:00",
                          "default": true,
                          "excise_duty_suspended": true
                        },
                        "destination": {
                          "id": 77,
                          "account_id": 86,
                          "name": "Frédérique Faure",
                          "email": "sylvain+faure@vinosoft.com",
                          "note": "",
                          "accepts_emailing": true,
                          "created_at": "2017-05-24T11:08:51.608+02:00",
                          "updated_at": "2017-07-31T23:17:24.897+02:00",
                          "sales_agent_id": null,
                          "price_grid_id": 109,
                          "reference": null,
                          "accepts_mailing": true,
                          "warehouse_id": 86,
                          "visibility": "all",
                          "channel": null,
                          "customer_category_id": 505,
                          "deleted_at": null,
                          "payment_method": "",
                          "payment_period": "",
                          "code": "000005",
                          "vinosoft_id": null,
                          "accounted_at": "2018-01-18T16:55:33.241+01:00",
                          "hid": null,
                          "user_id": null,
                          "automatic_discount_rate": null,
                          "sponsor_id": null,
                          "commission_rate": null,
                          "invoice_preference": null,
                          "block_orders": false,
                          "sticky_note": false,
                          "invoice_template_id": null
                        },
                        "fulfillment_lines": [
                          {
                            "id": 121566,
                            "fulfillment_id": 58584,
                            "order_line_id": 308656,
                            "quantity": "5.0",
                            "created_at": "2020-04-24T14:23:06.437+02:00",
                            "updated_at": "2020-04-24T14:23:06.437+02:00",
                            "product_variant_id": 1701,
                            "product_label_id": null,
                            "capsule_id": 22,
                            "batch_id": null,
                            "capsule_kind": null,
                            "supplier_order_line_id": null,
                            "product_variant": {
                              "id": 1701,
                              "product_size_id": 2,
                              "sku": "",
                              "default_barcode": "",
                              "created_at": "2019-02-12T10:14:04.243+01:00",
                              "updated_at": "2019-03-19T12:34:23.064+01:00",
                              "product_packaging_id": 484,
                              "deleted_at": null,
                              "product_label_id": null,
                              "product_vintage_id": 1296,
                              "nc8_code": "",
                              "vinosoft_id": null,
                              "net_weight": null,
                              "tare": null,
                              "functional_code": "",
                              "cost_price_cents": 0,
[...]
